mixin icon(id,name,mod)
  - mod = mod || '';
  - name = name || '';
  svg(class= name + ' ' + mod)
    use(xlink:href="./assets/img/sprite.svg#" + id)
//- +icon('github_round')

block variables


doctype html
html(lang='ru-RU')
  head

    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title #{title}
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //- favicon block start
    link(rel='icon', type='image', href='assets/img/favicon.ico', sizes='16x16')
    //- favicon block end

    link(rel='stylesheet', type='text/css', href='assets/css/app.css', media='screen, projection, print')
    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->

  body.marine
    block content

    script(src='assets/js/foundation.js' defer)
    script(src='assets/js/app.js' defer)
