footer.footer
	.footer__container.container
		.footer__left
			nav.footer-nav
				span.footer-nav__column
					a(href='#').footer-nav__link Телепрограмма
					a(href='#').footer-nav__link.footer-nav__link--longer Шоу
					a(href='#').footer-nav__link.footer-nav__link--longer Видео
				span.footer-nav__column
					a(href='#').footer-nav__link  Интересное
					a(href='#').footer-nav__link  Как подлючиться
					a(href='#').footer-nav__link  О телеканале
				span.footer-nav__column
					a(href='#').footer-nav__link.footer-nav__link--long Пользовательское соглашение
					a(href='#').footer-nav__link.footer-nav__link--long Положение о конфиденциальности
					a(href='#').footer-nav__link Размещение рекламы
		.footer__right.socials
			span.footer__text Мы в соцсетях
			.footer__socials.socials__list
				.socials__item.socials__item_big-marg
					a.socials__link(href="#")
						+icon('fb','socials__pic', 'socials__pic_fb')
				.socials__item.socials__item_big-marg
					a.socials__link(href="#")
						+icon('vk','socials__pic', 'socials__pic_vk')
				.socials__item.socials__item_big-marg
					a.socials__link(href="#")
						+icon('youtube','socials__pic', 'socials__pic_youtube')
				.socials__item
					a.socials__link(href="#")
						+icon('dzen','socials__pic', 'socials__pic_dzen')
		.footer__copyright-container
			.footer__copyright
				| &copy; 2019 Discovery Networks International. Все права защищены. Копирование материалов без согласования запрещено.
			.footer__air-prod
				.footer__air-logo
					| Сделано в &nbsp;
					a(href='#').footer__logo-link Air Production
