- const navItems =  [ {title: 'Телепрограмма',items:['DISCOVERY CHANNEL', 'ANIMAL PLANET', 'TLC', 'ID INVESTIGATION DISCOVERY', 'DISCOVERY SCIENCE']},{title: 'Шоу'},{title: 'Видео'},{title: 'Интересное'},{title: 'Как подключить'},{title: 'Спецпроект', promo: true, promoPic: 'assets/img/suzuki.png'} ]
// - const dropdownItems =  ['DISCOVERY CHANNEL', 'ANIMAL PLANET', 'TLC', 'ID INVESTIGATION DISCOVERY', 'DISCOVERY SCIENCE']


header.header
	.container.header__container
		a.header__logo(href='#')
			img.header__logo_img(src="assets/img/logo.svg")

		nav.header__nav.nav
			ul.nav__list
				for item, index in navItems
					if !item.promo
						li.nav__item.nav__item_has-dropdown(class=(curIndex === index ? 'active' : undefined))
							a.nav__link(href='#' )= item.title
							if item.items
								a.nav__open-dropdown
									include ../../images/down-arrow.svg
								ul.nav__dropdown.dropdown
									for drItem, drIndex in item.items
										li.dropdown__item
											a.dropdown__link(href='#')= drItem
					if item.promo
						li.nav__item.nav__item_mobile
							a(href='#').header__promo.header__promo_mobile.nav__link
								span.header__promo-heading= item.title
								span.header__promo-img
									img.header__promo-pic(src=item.promoPic)

				li.nav__item.nav__item_mobile
					.socials.socials_mobile
						.socials__list
							.socials__item
								a.socials__link(href="#")
									+icon('fb','socials__pic', 'socials__pic_fb')
							.socials__item
								a.socials__link(href="#")
									+icon('vk','socials__pic', 'socials__pic_vk')
							.socials__item
								a.socials__link(href="#")
									+icon('youtube','socials__pic', 'socials__pic_youtube')
							.socials__item
								a.socials__link(href="#")
									+icon('dzen','socials__pic', 'socials__pic_dzen')


		a(href='#').header__promo
			span.header__promo-heading Спецпроект
			span.header__promo-img
				img.header__promo-pic(src="assets/img/suzuki.png")

		.header__actions.actions
			button.actions__mobile-menu
				.actions__mobile-menu-icon.mobile-menu
					.mobile-menu__line.mobile-menu__line_top
					.mobile-menu__line.mobile-menu__line_middle
					.mobile-menu__line.mobile-menu__line_bottom

			.actions__search.search
				form.search__form(action="" method="get" autocomplete="off")
					.search__icon
						.search__icon-search
							include ../../images/search.svg
						.search__icon-close
							include ../../images/close-cross.svg
					input.search__input(type="text" name="search")
					button(type='submit').button.button_bordered.search__button
						span.button__text Поиск

			.actions__socials.socials
				.socials__list
					.socials__item
						a.socials__link(href="#")
							+icon('fb','socials__pic', 'socials__pic_fb')
					.socials__item
						a.socials__link(href="#")
							+icon('vk','socials__pic', 'socials__pic_vk')
					.socials__item
						a.socials__link(href="#")
							+icon('youtube','socials__pic', 'socials__pic_youtube')
					.socials__item
						a.socials__link(href="#")
							+icon('dzen','socials__pic', 'socials__pic_dzen')


