// //place text under picture
//.hero {
//  //min-height: 540px;
//  //background-color: #e29539;
//  margin-top: -95px;
//  margin-bottom: 59px;
//
//  //@include tablets {
//  //  min-height: 400px;
//  //}
//  //
//  //@include phone {
//  //  //background-color: transparent;
//  //  min-height: 300px;
//  //}
//
//  &__wrapper {
//    //overflow: hidden;
//    position: relative;
//    display: flex;
//
//    //@include tablets {
//    //  min-height: 390px;
//    //  border-bottom-right-radius: 68px;
//    //}
//    //
//    //@include phone {
//    //  border-bottom-right-radius: 48px;
//    //  min-height: 290px;
//    //  overflow: visible;
//    //}
//
//  }
//
//  &__colored-border {
//    //min-height: 540px;
//    background-color: #e29539;
//    position: absolute;
//    width: 100%;
//    height: 559px;
//
//    @include tablets {
//      height: 400px;
//    }
//
//    @include phone {
//      //background-color: transparent;
//      height: 300px;
//    }
//
//  }
//
//  &__background {
//    position: absolute;
//    width: 100%;
//    //height: 100%;
//    left: 0;
//    top: 0;
//    background-size: cover;
//    background-position: center;
//    border-bottom-right-radius: 123px;
//    height: 549px;
//
//    @include tablets {
//      height: 390px;
//      border-bottom-right-radius: 68px;
//    }
//
//    @include phone {
//      //display: none;
//      border-bottom-right-radius: 48px;
//      height: 290px;
//      overflow: visible;
//    }
//  }
//
//  &__container {
//    position: relative;
//    padding-top: 117px;
//
//    display: flex;
//    flex-direction: column;
//    align-content: space-between;
//    width: 100%;
//
//    @include phone {
//      z-index: 2;
//      //position: absolute;
//    }
//  }
//  &__breadcrumbs {
//    position: absolute;
//    top: 110px;
//    z-index: 3;
//  }
//
//  &__heading {
//    font-weight: bold;
//    font-size: 100px;
//    line-height: 120px;
//    margin-top: 100px;
//    padding-left: 106px;
//
//    @include media(1194px) {
//      font-size: 72px;
//      line-height: 80px;
//    }
//
//    @include tablets {
//      padding-left: 0;
//      margin-top: 52px;
//    }
//
//    @include phone {
//      font-size: 36px;
//      line-height: 53px;
//      margin-top: 209px;
//    }
//  }
//
//  &__title {
//    position: relative;
//
//    &:after {
//      content: '';
//      left: 0;
//      bottom: -6px;
//      position: absolute;
//      width: 30px;
//      height: 10px;
//      background-color: #e29539;
//    }
//  }
//
//  &__select {
//    margin-top: 290px;
//
//    @include tablets {
//      margin-top: 137px;
//    }
//
//    @include phone {
//      margin-top: 191px;
//      margin-bottom: 0;
//    }
//  }
//
//
//  //&_mobile {
//  //  display: none;
//  //  @include phone {
//  //    display: block;
//  //    background-color: #e29539;
//  //    position: absolute;
//  //    width: 100%;
//  //    top: 0;
//  //
//  //    .hero {
//  //      &__wrapper {
//  //      }
//  //
//  //      &__background {
//  //        display: initial;
//  //      }
//  //    }
//  //  }
//  //}
//}
