.about {
  margin-bottom: 96px;

  @include phone {
    margin-bottom: 66px;
  }

  &__container {
    max-width: 878px;
  }

  &__text {
    @include dinFont;
    font-size: 32px;
    margin-bottom: 57px;

    @include tablets {
      font-size: 30px;
    }

    @include phone {
      font-size: 25px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
