.accordion {
  &__sliding-part {
    display: none;
    margin-top: 50px;
  }

  &__action {
    &:hover {
      .show-cell__title, .show-cell__time {
        color: $solar;
      }
      .show-cell__trigger {
        svg {
          path {
            stroke: $solar;
          }
        }
      }
    }
  }
}
