.actions {

  &__search {
    //padding-top: 36px;
    //padding-bottom: 18px;

    &.active {
      //padding-top: 29px;
      //padding-bottom: 15px;
    }

    //@include media(1417px) {
    //  padding-top: 29px;
    //  padding-bottom: 20px;
    //
    //  &.active {
    //    padding-top: 20px;
    //    padding-bottom: 13px;
    //  }
    //}

    //@include phone {
    //  padding-bottom: 14px;
    //  padding-top: 28px;
    //}
  }
  &__socials {
    border-left: 1px solid rgba(255, 255, 255, .6);
    //padding-top: 36px;
    //padding-bottom: 33px;
    padding-left: 23px;
    display: flex;
    align-items: center;

    @include media(1417px) {
      //padding-top: 27px;
      //padding-bottom: 30px;
    }
    @include phone {
      //position: absolute;
      //top: 474px;
      //right: 120px;
      //padding: 0;
      //border: none;
      display: none;
    }
  }

  &__mobile-menu {

    display: none;
    cursor: pointer;

    @include media(1417px) {
      display: inherit;
      background-color: transparent;
      border: none;
      outline: none;
      position: relative;
      z-index: 11;

      &.hidden {
        display: none;
      }
    }
  }

  &__mobile-menu-icon {
    margin-top: -8px;

    @include tablets {
      margin-top: -8px;
    }
  }
}
