.animation-fade-in {
  animation: fade-in 3s forwards;

}

@keyframes fade-in {
  0%   {
    transform:translateY(-20px);
    opacity: 0;
  }
  100% {
    transform:translateY(0);
    opacity: 1;
  }
}
