.articles {

  margin-bottom: 58px;
  &__container {

  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;

    @include media(480px) {
      margin-left: 0;
    }
  }
  &__item {
    width: calc(25% - 30px);
    margin-left: 30px;
    margin-bottom: 40px;

    @include media(1180px) {
      width: calc(33.333333% - 30px);
    }

    @include media(930px) {
      width: calc(50% - 30px);
    }

    @include media(480px) {
      width: 100%;
      margin-left: 0;
    }
  }

  .show-card__pic {
    object-position: 50% 50%;
  }
}
