.branded {
  position: relative;
  background-color: #14191f;

  &__background {
    position: absolute;
    //z-index: -2;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 20%;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(20,25,31,1) 100%);
    }
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 89px;
    color: $solar;

    @include media(1538px) {
      font-size: 69px;
    }
    @include media(1109px) {
      font-size: 59px;
    }
    @include media(700px) {
      font-size: 48px;
    }

  }

  &__button {
    @include media(1109px) {
      font-size: 20px;
    }
    @include media(700px) {
      font-size: 16px;
      text-transform: uppercase;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 1px;

    @include media(1109px) {
      font-size: 25px;
    }
    @include media(700px) {
      font-size: 22px;
    }
  }
  &__background-pic {
    width: 100%;
  }

  &__left {
    padding: 50px 20px 0 55px;
    width: 55%;
    //@include media(1538px) {
    //  width: 47%;
    //}
    @include media(1030px) {
      width: 100%;
      padding: 0;
      text-align: center;
    }
  }

  &__pic {
    max-width: 1225px;
    width: 61%;
    position: relative;
    //@include media(1538px) {
    //  width: 53%;
    //}
    //@include media(1378px) {
    //  width: 79%;
    //}
    @include media(1030px) {
      width: 100%;
    }
  }

  &__container {
    max-width: 2320px;
    margin: 0 auto;
    padding: 19px 19px 41px;
    z-index: 1;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;

    @include media(1030px) {
      display: block;
      padding-bottom: 0;
      margin-bottom: -3%;
    }
  }
  &__right-image {
    width: 122%;
    position: absolute;
    bottom: -19%;
    right: 0;
    @include media(1030px) {
      position: relative;
      width: 100%;
      max-width: 100%;

    }
  }

}
