.breadcrumbs {
  &__item {
    display: inline;
    padding-right: 13px;

    &:after {
      content: url("../img/right-arrow-breadcrumbs.svg");
      padding-left: 15px;
      opacity: 1;
      max-height: 10px;
      max-width: 5px;
    }

    &:last-child {
      padding-right: 0;

      &:after {
        display: none;
      }
    }
  }
  &__link {
    @include dinFont;
    font-size: 18px;
    color: #ffffff;
    opacity: 1;
    transition: 0.4s ease-out;

    @include tablets {
      font-size: 16px;
    }

    &_current {
      opacity: 0.5;
      pointer-events: none;
    }

    &:hover {
      opacity: 1;
      color: $solar;
    }

  }
}
