.button {
  opacity: 1;
  max-width: 400px;
  position: relative;
  display: inline-block;
  background-color: $solar;
  border: none;
  outline: none;

  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;

  text-align: center;

  transition: background-color,color 0.3s linear;
  cursor: pointer;

  &.hidden {
    opacity: 0;
  }

  &_bordered {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  //&_bordered {
  //background-color: transparent;
  //border: 1px solid rgba(255,255,255,0.3);

  padding: 11px 52px;

  @include media(900px) {
    border-color: transparent;
    &::before, &::after {
      width: 100%;
    }

    .button__text {
      &::before, &::after {
        height: 100%;
      }
    }
  }

  &::before, &::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: $solar;
  }

  &::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
  }

  &::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
  }

  &:hover {
    background-color: transparent;
    border-color: transparent;
    &::before, &::after {
      width: 100%;
    }

    .button__text {
      &::before, &::after {
        height: 100%;
      }
    }
  }

  &:active {
    color: $solar;
  }

  //@include media(1298px) {
  //  padding: 11px 52px 8px !important;
  //}

  @include media(646px) {
    font-size: 18px;
    padding: 11px 24px 8px !important;
  }

  @include media(595px) {
    padding: 8px 22px 5px !important;
  }
  //}


  &__text {
    display: block;

    &::before, &::after {
      content: "";
      width: 2px;
      height: 0;
      position: absolute;
      transition: all 0.2s linear;
      background: $solar;
    }

    &::after {
      right: 0;
      bottom: 0;
      transition-duration: 0.4s;
    }

    &::before {
      left: 0;
      top: 0;
      transition-duration: 0.4s;
    }

  }

}
