.day-slider {
  margin-bottom: 80px;

  &__container {
    max-width: 1213px;
    @include media(1411px) {
      max-width: 84%;
    }
    @include tablets {
      max-width: 79%;
    }
    @include media(900px) {
      max-width: 100%
    }

  }

  &__item {
    //background-color: lightslategray;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    transition: 0.5s ease-out;

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 1);
      border-top: 1px solid rgba(255, 255, 255, 1);
    }

    &.active {
      background-color: $solar;
      margin: 0 5px;
      border-bottom: 1px solid $solar;
      border-top: 1px solid $solar;

      @include phone {
        margin: 0 10px 0 0;
      }

      .day-slider__date {
        color: #000;
      }
    }
  }

  &__content {

    padding: 16px 20px;

  }

  &__weekday {
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 14px;

    @include tablets {
      font-size: 22px;
    }

    //@include phone {
    //  font-size: 22px;
    //}
  }

  &__date {
    @include dinFont;
    font-size: 18px;

    @include tablets {
      font-size: 16px;
    }

    @include phone {
      font-size: 14px;
    }
  }

  &__controls {
    position: relative;
    margin-top: -117px;
    padding-bottom: 59px;
    padding-top: 59px;
    max-width: 1306px;

    @include media(1411px) {
      max-width: 90%;
    }

    @include media(900px) {
      display: none;
    }
  }

  .swiper-button-next, .swiper-button-prev {
    outline: none;
    width: 50px;
    height: 50px;

    svg {
      width: 50px;
      height: 50px;

      .play-icon {
        transition: 0.5s ease-out;
      }

      .rounded-border {
        transition: 0.5s ease-out;
      }
    }

    &:hover {
      svg {
        .rounded-border {
          stroke: $solar;
        }
      }
    }

    &:active {
      svg {
        .play-icon {
          stroke: $solar;
        }
      }

    }
  }
  .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,
  .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: '';
    outline: none;
    @include media(1217px) {
      top: -9999;
    }

  }

  .swiper-button-prev {
    transform: rotate(180deg);
  }
}
