.dropdown {
  margin-left: -41px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;


  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
  top: -9999px;
  background: rgba(20, 25, 31, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 30px 40px;

  @include media(1417px) {
    margin-left: 0;
    background-color: #181818;
    box-shadow: none;
    display: none;
    position: initial;
    opacity: 1;
    padding: 20px 20px 0;

    //&.active {
    //  display: block;
    //}
  }

  &:hover {
    .nav__link {
      color: $solar;
    }
  }

  &__item {
    cursor: pointer;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }

    @include media(1417px) {
      margin-right: 0;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  &__link {
  text-transform: uppercase;
    color: white;
    transition: 0.4s;

    &:hover {
      color: $solar;
    }

    &.active {
      color: $solar;
    }
  }
}
