.footer {
  padding: 40px 0 64px;
  @include dinFont;
  background-color: $darkBlue;
  position: relative;

  @include tablets {
    padding: 40px 0 20px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;

    @include tablets {
      font-size: 16px;
    }

    @include phone {
      display: block;
    }
  }
  &__left {
    width: 83.33333%;
    padding-right: 15px;

    @include phone {
      width: 100%;
      padding-right: 0;
    }
  }
  &__right {
    padding-left: 15px;
    width: 16.66667%;

    @include tablets {
      padding-left: 0;
    }

    @include phone {
      width: 100%;
      margin-bottom: 30px;
      display: flex;
    }
  }

  &__socials {

    @include phone {

    }
  }

  &__text {
    display: block;
    margin-bottom: 1.875rem;

    @include phone {
      margin-bottom: 0;
      margin-right: 25px;
    }
  }

  &__copyright-container {
    width: 100%;
    display: flex;
    border-top: 1px solid #262626;
    padding-top: 30px;

    @include phone {
      display: block;
      padding-top: 15px;
    }
  }
  &__copyright {
    width: 83.33333%;
    color: #525A64;

    @include media(1425px) {
      width: 67.33333%;
    }

    @include tablets {
      width: 70.33333%;
    }

    @include phone {
      width: 100%;
      padding-bottom: 20px;
    }
  }
  &__air-prod {
    margin-left: 39px;
    width: 16.66667%;
    text-align: right;

    @include media(1425px) {
      width: 32.66667%;
    }

    @include tablets {
    width: 29.66667%;
      margin-left: 17px;
    }

    @include phone {
      text-align: left;
      width: 100%;
      margin-left: 0;
    }
  }
  &__air-logo {
    color: #525A64;
  }
  &__logo-link {
    color: rgba(255,255,255,0.8);
    font-weight: 700;
    transition: 0.5s ease-out;

    &:hover {
      color: $solar;
    }
  }
}
