.footer-nav {
  @include laptop {
    display: flex;
  }

  @include phone {
    flex-wrap: wrap;
  }
  &__link {
    transition: 0.4s;
    display: inline-block;
    color: #fff;
    //font-size: 1.125rem;
    margin-bottom: 1.875rem;
    min-width: 11.875rem;

    @include laptop {
      display: block;
      min-width: 0;
    }

    &--longer {
      width: 14.78438rem;

      @include laptop {
        width: auto;
      }
    }

    &--long {
      width: 20.78125rem;

      @include laptop {
        width: auto;
      }
    }

    &:hover {
      color: $solar;
    }
  }

  &__column {
    @include laptop {
      display: block;
      min-width: 33.33%;
    }

    @include phone {
      min-width: 50%;
    }
  }
}
