.genres {
  margin-bottom: 109px;

  &__container {

  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
  }
  &__list {
    display: flex;
    margin-left: -30px;
    width: calc(100% + 30px);

    @include media(480px) {
      margin-left: 0;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
    }

  }
  &__item {
    width: calc(25% - 30px);
    margin-left: 30px;
    margin-bottom: 40px;

    @include tablets {
      width: calc(50% - 30px);
    }

    @include media(480px) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
    }
  }

  &__all {
  }
}
