.header {
  position: relative;
  z-index: 1111;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, .6);

  &__container {
    height: 91px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    @include media(1417px) {
      height: 81px;
    }

    @include phone {
      height: 71px;
      padding-right: 0;
    }
  }

  &__logo {
    max-width: 212px;
    width: 17%;
    opacity: 1;
    position: initial;

    display: flex;
    align-items: center;

    @include tablets {
      max-width: 144px;
      width: 20%;
    }

    @include phone {
      width: 47%;
      max-width: 135px;
    }

    @include media(595px) {
      &.hidden {
        opacity: 0;
        position: relative;
        z-index: -1;
      }
    }

    &_img {
      max-width: 100%;
      vertical-align: middle;
    }
  }

  &__nav {
    pointer-events: initial;
    opacity: 1;
    position: initial;

    @include media(1417px) {
      background-color: #181818;
      position: absolute;
      width: 320px;
      top: 101%;
      right: 15%;
      transition: 0.5s;
      opacity: 0;
      pointer-events: none;
      &.active {
        pointer-events: initial;
        transition: 0.5s;
        opacity: 1;
      }

    }

    @include phone {
      right: 0;
    }

    &.hidden {
      opacity: 0;
      pointer-events: none;
      position: absolute;
    }
  }

  &__promo {
    pointer-events: initial;
    opacity: 1;
    position: initial;
    @include dinFont;
    font-weight: bold;

    display: flex;
    align-items: center;

    @include media(1397px) {
      text-align: center;
    }

    @include phone {
      text-align: left;
    }

    @include phone {
      display: none;
    }

    &:hover {
      .header__promo-heading {
        transition: 0.4s;
        color: $solar;
      }
    }

    &_mobile {
      display: none;

      @include phone {
        display: block;
        position: relative;
        z-index: -1;
        pointer-events: none;

        &.active {
          pointer-events: initial;
          z-index: auto;
          position: initial;
        }
      }
    }

    &.hidden {
      opacity: 0;
      pointer-events: none;
      position: absolute;
    }
  }

  &__promo-heading {
    color: #ffffff;
    transition: 0.4s;
    text-transform: uppercase;
  }
  &__promo-pic {
    max-width: 80px;
    vertical-align: middle;
  }

  &__actions {
    display: flex;
  }
}
