.hero {
  margin-top: -95px;
  margin-bottom: 59px;
  min-height: 559px;

  @include tablets {
    min-height: 400px;
  }
  @include phone {
    min-height: 300px;
  }

  &_topic {
    .hero__title {
      font-size: 70px;
      line-height: 84px;

      max-width: 1000px;

      @include tablets {
        font-size: 40px;
        line-height: normal;
        max-width: 524px;
      }

      @include phone {
        font-size: 36px;
      }
    }
  }

  &_video {
    .hero__title {
      font-size: 70px;
      line-height: 84px;
      max-width: 840px;

      @include tablets {
        font-size: 40px;
        line-height: normal;
        max-width: 524px;
      }

      @include phone {
        font-size: 36px;
      }
    }

    @include media(486px) {
      .slider-top__link {
        top: 48%;
      }
    }
  }

  &_about {
    margin-bottom: 138px;

    @include tablets {
      margin-bottom: 98px;
    }

    @include phone {
      margin-bottom: 58px;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
  }

  &__colored-border {

    background-color: $solar;
    position: absolute;
    width: 100%;
    height: 559px;

    @include tablets {
      height: 400px;
    }

    @include phone {
      height: 300px;
    }

    &_with-mob-pic {
      display: none;

      @include media(480px) {
        display: initial;
        height: 405px;
      }
    }

    &_inside {
      position: relative;
      min-height: 559px;
      height: auto;

      @include tablets {
        height: auto;
        min-height: 400px;
      }

      @include phone {
        height: auto;
        min-height: 300px;
      }
    }

    &_desktop {
      @include media(480px) {
        background-color: transparent;
      }
    }

  }

  &__background {
    position: absolute;
    width: 100%;

    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    border-bottom-right-radius: 123px;
    height: 549px;

    @include tablets {
      height: 390px;
      border-bottom-right-radius: 68px;
    }

    @include phone {
      border-bottom-right-radius: 48px;
      height: 290px;
      overflow: visible;
    }

    &_mobile {
      display: none;
      @include media(480px) {
        display: block;
      }
    }

    &_desktop {
      @include media(480px) {
        background: none;
      }
    }

    &_inside {
      position: static;
      height: calc(100% - 10px) !important;
    }

    &_with-mob-pic {

      @include media(480px) {
        height: 394px;
      }
    }

  }

  &__container {
    position: relative;
    padding-top: 91px;

    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;

    @include phone {
      z-index: 2;
      //position: absolute;
    }

    &_inside {
      padding-top: 0;
      height: 100%;
    }
  }

  &__breadcrumbs {
    position: absolute;
    top: 110px;
    z-index: 3;

    &_inside {
      position: static;
      padding-top: 110px;
      margin-bottom: 20px;
    }
  }

  &__heading {
    font-weight: bold;
    font-size: 100px;
    line-height: 120px;
    margin-top: 100px;
    padding-left: 106px;

    @include media(1194px) {
      font-size: 72px;
      line-height: 80px;
    }

    @include tablets {
      padding-left: 0;
      margin-top: 52px;
    }

    @include phone {
      font-size: 36px;
      line-height: 53px;
      margin-top: 224px;
    }

    &_topic {
      font-size: 70px;
      line-height: normal;

      @include media(1194px) {
        font-size: 62px;
        line-height: normal;
      }
      @include tablets {
        font-size: 45px;
        margin-top: 81px;
      }
    }
  }

  &__description {
    margin-top: 270px;

  }

  &__title {
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 79px;

    position: relative;

    @include tablets {
      font-size: 72px;
      line-height: normal;
      margin-bottom: 66px;
    }

    @include phone {
      font-size: 36px;
    }

    &:after {
      content: '';
      left: 0;
      bottom: -6px;
      position: absolute;
      width: 30px;
      height: 10px;
      background-color: $solar;
    }

    &_inside {
      margin-top: auto;
    }

    &_with-mob-pic {
      @include media(480px) {
        margin-top: 264px;
        margin-bottom: 0;
      }
    }

    &_outside {
      @include media(480px) {
        margin-top: 430px;
      }
    }
  }

  &__select {
    margin-top: 290px;

    @include tablets {
      margin-top: 137px;
    }

    @include phone {
      margin-top: 236px;
      margin-bottom: 0;
    }
  }

  &_shows {
    margin-bottom: 129px;
    @include tablets {
      margin-bottom: 98px;
    }
  }
}
