.interesting {

  margin-bottom: 58px;
  &__container {

  }

  &__top {
    display: flex;

    @include media(930px) {
     flex-wrap: wrap;
    }

  }
  &__left {
    width: 55%;

    @include media(930px) {
      width: 100%;
    }
  }
  &__right {
    width: 54%;
    margin-left: 30px;

    @include media(930px) {
      width: 100%;
      margin-left: 0;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;

    @include media(480px) {
      margin-left: 0;
    }
  }
  &__item {
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 40px;

    @include media(480px) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
    }

    &_four-col {
      width: calc(25% - 30px);

      @include media(930px) {
        width: calc(50% - 30px);
      }

    }
  }
  &__big-card {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
  }
}
