.letters-line {
  position: relative;

  &__letters-container {
    width: 100%;

    @include tablets {
      top: 107%;
      width: 100%;
    }
  }

  &__letters {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 15px 61px;

    top: -96px;

    position: absolute;
    //top: 0;
    left: 0;

    z-index: 13;

    margin-left: 0;
    width: 100%;


    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    @include tablets {
      padding-left: 34px;
      top: -80px;
    }

    @include phone {
      padding-left: 15px;
    }

    &.active {
      position: fixed;
      top: 0;
      left: 0;
      background-color: black;
      z-index: 13;
      //overflow-y: scroll;
      margin-left: 0;
      width: 100%;
    }
  }

}
