.letters {

  &__list {
    display: flex;

    @include media-min(1600px) {
      justify-content: center;
    }
  }

  &__item {
    margin-right: 30px;
    color: #ffffff;
    pointer-events: auto;

    @include media(1343px) {
      margin-right: 26px;
    }

    @include media(1227px) {
      margin-right: 22px;
    }


    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__link {
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    transition: 0.4s ease-out;

    &:hover {
      color: $solar;
    }
  }


  .active {
    .letters__link {
      color: $solar;
    }
  }

}

