.main-hero {
  min-height: 647px;
  background-color: $solar;
  margin-top: -92px;
  margin-bottom: 59px;


  @include media(1100px) {
    min-height: 403px;
    margin-top: -83px;
  }

  @include media(486px) {
    min-height: 405px;
    background-color: transparent;
  }

  &__container {
    border-bottom-right-radius: 123px;
    position: relative;
    overflow: hidden;

    @include tablets {
      border-bottom-right-radius: 68px;
    }

    @include media(486px) {
      border-bottom-right-radius: 48px;
      overflow: visible;
    }
  }

  &__slider-bottom-line {
    display: none;

    @include media(486px) {
      display: initial;
      width: 100%;
      position: absolute;
      top: 332px;
      z-index: 4;

      path {
        fill: $solar;
      }
    }

    @include media(454px) {
      top: 341px;
    }
    @include media(381px) {
      top: 350px;
    }
  }

  &__dots {
    display: none;

    @include tablets {
      display: initial;
      .swiper-pagination-bullet {
        vertical-align: middle;
        opacity: 0.6;
        background-color: white;
        //margin: 0 2px !important;

        height: 6px;
        width: 6px;

        transition: 0.2s ease-out;

        &.swiper-pagination-bullet-active {
          transform: scale(1.4);
          opacity: 1;
        }
      }
    }

    @include media(486px) {

      &.swiper-pagination {
        //bottom: -50px !important;
        top: 409px!important;
      }

      .swiper-pagination-bullet {
        opacity: 0.2;

        &.swiper-pagination-bullet-active {
          opacity: 1;
        }
      }
    }

  }


  &__controls {

    @include media(1100px) {
      display: none;
    }


    .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,
    .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
      content: '';
    }

    .swiper-button-next, .swiper-button-prev {
      outline: none;
      width: 50px;
      height: 50px;


      svg {
        width: 50px;
        height: 50px;

        .play-icon {

          transition: 0.5s ease-out;
        }

        .rounded-border {
          transition: 0.5s ease-out;
        }
      }

      &:hover {
        svg {
          .rounded-border {
            stroke: $solar;
          }
        }
      }

      &:active {
        svg {
          .play-icon {
            stroke: $solar;
          }
        }

      }

      margin-top: calc(1 * var(--swiper-navigation-size) / 2);
      //width: calc(var(--swiper-navigation-size) / 50 * 50);
    }

    .swiper-button-next {
      margin-right: 40px;
    }

    .swiper-button-prev {
      margin-left: 40px;
      transform: rotate(180deg);
    }
  }
}
