.nav {
	display: flex;
	align-items: center;
	height: 100%;
	@include dinFont;
	font-weight: bold;

	@include media(1417px) {
		height: auto;
		display: block;
		padding: 10px 21px 10px;
	}

	&__list {
		display: flex;
		height: 100%;
		align-items: center;

		margin-left: 28px;

		@include media(1417px) {
			display: block;
			text-align: left;
			height: auto;
			margin-left: 0;
		}
	}

	&__item {
		height: 100%;
		display: flex;
		align-items: center;
		margin-right: 25px;

		&_has-dropdown {
			&:hover {
				.dropdown {
					transition: opacity 0.5s ease;
					opacity: 1;
					top: 101%;
				}

				.nav__link {
					color: $solar;
				}
			}
		}

		@include media(1417px) {
			display: block;
			margin-right: 0;
			padding: 20px 0;
			border-bottom: 1px solid rgba(255,255,255,0.3);

			 &:last-child {
				 border-bottom: none;
			 }
		}


		&_mobile {
			display: none !important;


			@include phone {
				display: block !important;
				text-align: left;
			}
		}

		@media (min-width: 1417px) {
			&.active {
				border-bottom: 2px solid $solar !important;
				.nav__link {
					color: $solar;
				}
			}
		}


	}

	&__open-dropdown {
		display: none;

		@include media(1417px) {
			display: inline;
			cursor: pointer;
			margin-left: 15px;
			margin-bottom: 2px;
			svg {
				width: 12px;
				height: 7px;
				transition: 0.5s;

				path {
					stroke: white;
					transition: 0.5s;
				}
			}

			&.active {
				svg {
					transform: rotate(180deg);
				}
			}
		}

		&:hover {
			svg {
				path {
					stroke: $solar;
					transition: 0.5s;
				}
			}
		}

	}

	&__link {
		color: #ffffff;
		text-transform: uppercase;
		letter-spacing: 1px;
		transition: 0.5s;

		&:hover {
			color: $solar;
		}
	}

}
