.on-air {
  width: 26%;

  padding-left: 28px;


  @include media(930px) {
    display: none;
  }

  &__now {
    border-bottom: 1px solid #262626;
    padding-bottom: 26px;
    margin-bottom: 30px;
  }

  &__further {

  }

  &__item {
    border-bottom: 1px solid #262626;
    padding-bottom: 26px;
    margin-bottom: 30px;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
