.pic {
  width: 100%;
  margin-bottom: 40px;

  &__cover {
    padding-top: 42%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    transition: all .25s linear;

    &_square {
      padding-top: 78%;
    }
  }

  &__pic {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 100%;
    transition: all .25s linear;
  }
}
