.preloader {
  z-index: 1111;
  display: none;
  background-color: #14191f;
  position: absolute;
  width: 96%;
  height: 100%;

  &__container {
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $solar;
    border-color: $solar transparent $solar transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
