.premier {
  margin-bottom: 80px;

  &__title {
    width: 90%;

    @include tablets {
      width: 88%;
    }

    @include media(940px) {
      width: 84%;
    }

    @include media(700px) {
      width: 80%;
    }

    @include media(567px) {
      width: 72%;
    }

    @include media(447px) {
      width: 64%;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    width: 25%;
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__controls {
    display: flex;
    width: 10%;
    position: relative;


    @include tablets {
      width: 12%;
    }

    @include media(940px) {
      width: 16%;
    }

    @include media(700px) {
      width: 20%;
    }

    @include media(567px) {
      width: 28%;
    }

    @include media(447px) {
      width: 36%;
    }

    .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,
    .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
      content: '';
    }

    .swiper-button-next, .swiper-button-prev {
      width: 40px;
      height: 40px;
      outline: none;

      svg {
        width: 40px;
        height: 40px;

        .play-icon {
          stroke: white;
          transition: 0.5s ease-out;
        }

        .rounded-border {
          transition: 0.5s ease-out;
        }
      }

      &:hover {
        svg {
          .rounded-border {
            stroke: $solar;
          }
        }
      }

      &:active {
        svg {
          .play-icon {
            stroke: $solar;
          }
        }
      }
    }
    .premier-swiper-button-prev {
      transform: rotate(180deg);
    }
  }
}
