.promo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 640px;
  text-transform: uppercase;

  @include tablets {
    min-height: 500px;
  }
  @include media(495px) {
    min-height: 407px;
  }

  &__container {
    padding-right: 9%;
    padding-top: 309px;
    display: flex;
    justify-content: flex-end;
    text-align: center;

    @include tablets {
      padding-top: 175px;
      padding-right: 5%;
    }

    @include media(495px) {
      padding-top: 123px;
      padding-right: 3%;
    }
  }

  &__wrapper {
    max-width: 400px;
  }

  &__text {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1px;
    font-weight: bold;
    //background: -webkit-linear-gradient(#D03925, #92261B);
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    margin-bottom: 52px;

    @include tablets {
      font-size: 26px;
      line-height: 31px;
      max-width: 313px;
      margin-bottom: 30px;
    }

    @include media(495px) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 20px;
      max-width: 200px;
    }
  }

  &__button {
    @include dinFont;
    display: inline-block;
    padding: 16px 27px;
    border: 2px solid #2E2E2E;
    color: #2E2E2E;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}
