.providers {


  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;

    @include phone {
      margin-left: -20px;
    }
  }

  &__item {
    width: calc(25% - 30px);
    margin-left: 30px;
    margin-bottom: 50px;

    @include media(1010px) {
      width: calc(33% - 30px);
    }
    @include phone {
      width: calc(50% - 20px);
      margin-bottom: 20px;
      margin-left: 20px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
