.provider {
  background: #3E3D3C;
  box-shadow: 0 4px 24px rgba(37, 38, 94, 0.1);
  min-height: 179px;
  padding: 16px 20px;
  position: relative;
  display: block;
  transition: 0.5s ease-out;

  @include dinFont;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;

  @include phone {
    min-height: 139px;
  }


  &:before {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #3E3D3C;
    transition: 0.5s ease-out;

  }

  &__wrapper {
    overflow:hidden;
    position: absolute;
    padding: 10px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
  }

  &:hover {
    background-color: $solar;
    transition: 0.5s ease-out;

    &:before {
      transform: scaleY(1.2);
      background-color: $solar;

      @include phone {
        transform: scaleY(0.5);
      }
    }

    .provider {
      &__name {
        transform:translateY(0);
        transition:.4s;
      }
      &__link {
        transform:translateY(0);
        transition:.7s;
      }
      &__pic {
        transform:translateY(0);
        @include phone {
          transform:none;
          transition: none;
        }
      }
    }

  }

  &__info {
    margin-top: 10px;
    width: 100%;
  }

  &__pic {
    max-width: 100%;
    transition:.4s;
    transform:translateY(20px);

    @include phone {
      transform:translateY(0);
    }
  }
  &__img {

  }
  &__name {
    color: #000000;

    transform:translateY(80px);
    transition: .5s;

    @include phone {
      display: none;
    }
  }

  &__link {
    color: #007BA8;

    transform:translateY(90px);
    transition-delay: 0.5s;
    transition: .4s;

    width: 100%;
    overflow-wrap: break-word;

    @include phone {
      display: none;
    }
  }

  &__external-link {
    svg {
      width: 14px;
      margin-left: 4px;

      path {
        stroke: #007BA8;
      }
    }
  }
}


