.quote {

  position: relative;
  @include dinFont;
  color: $greyish;
  margin-top: 86px;
  margin-bottom: 67px;

  @include phone {
    margin-top: 36px;
    margin-bottom: 47px;
  }

  &__icon {
    top: -17px;
    left: -70px;
  width: 39px;
  height: 30px;
  position: absolute;

    svg {
      path {
        fill: $solar;
      }
    }

    @include media(730px) {
      position: static;
      top: 0;
      left: 0;
      width: 31px;
      height: 22px;
    }
}

  &__text {
    font-size: 18px;

    @include phone {
      font-size: 16px;
    }
    @include media(730px) {
      padding-left: 30px;
    }

  }

  &__interviewer {
    padding-top: 30px;
    font-size: 14px;
    letter-spacing: 1px;
    border-top: 2px solid rgba(255,255,255,0.15);
    max-width: 558px;

    @include media(730px) {
      margin-left: 30px;
    }
  }
}
