.recommended {
  margin-bottom: 109px;

  @include tablets {
    margin-bottom: 50px;
  }

  @include phone {
    margin-bottom: 30px;
  }

  &__container {

  }
  &__list {
    display: flex;
    margin-left: -30px;
    width: calc(100% + 30px);
    flex-wrap: wrap;

    @include media(480px) {
      margin-left: 0;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
    }

  }
  &__item {
    width: calc(33.3333% - 30px);
    margin-left: 30px;
    margin-bottom: 40px;

    @include media(480px) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 4px;
      }
    }
  }

  &__more {
    margin-top: 29px;
  }

  &_show {
    margin-bottom: 60px;
  }

  &_topics {
    .show-card__pic {
      object-position: 50% 50%;
    }
  }
}
