.search {
  border-left: 1px solid rgba(255, 255, 255, .6);
  padding-right: 30px;
  padding-left: 30px;
  transition: 0.4s;

  display: flex;
  align-items: center;

  input {
    border-radius: 0;
  }

  @include phone {
    padding-right: 23px;
    padding-left: 23px;
  }

  &.active {
    border-left: none;

    @include media(350px) {
      padding-left: 0;
      margin-left: -8px;
    }
  }
  &__form {
    display: flex;
    align-items: center;
  }

  &__icon {
    cursor: pointer;
    svg {
      path {

      }

      vertical-align: middle;
    }

    &.active {
      .search__icon-close {
        opacity: 1;
        position: initial;
      }

      .search__icon-search {
        opacity: 0;
        position: absolute;
      }
    }

    &:hover {
      svg {
        path {
          stroke: $solar;
        }
      }
    }
  }

  &__icon-search {
    position: initial;
    opacity: 1;

  }

  &__icon-close {
    width: 17px;
    height: 17px;
    margin: 0 auto;
    opacity: 0;
    position: absolute;

  }

  &__input {
    border-radius: 0;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    margin-right: 0;
    margin-left: 0;
    width: 0;
    @include dinFont;
    font-size: 18px;
    color: transparent;
    pointer-events: none;

    &.active {
      pointer-events: initial;
      transition: 0.4s;
      width: 617px;
      margin-right: 30px;
      margin-left: 17px;
      color: white;
      border-bottom: 2px solid rgba(255,255,255,0.7);

      @include media(1417px) {
        width: 300px;
      }

      @include media(945px) {
        width: 187px;
      }

      @include media(595px) {
        width: 143px;
      }

    }
  }

  &__button {
    display: none;
    transition: 0.4s;
    &.active {
      display: initial;
    }
  }
}
