.select {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(1289px) {
    flex-wrap: wrap;
    justify-content: initial;
  }

  &__name {
    @include media(1289px) {
      width: 100%;
    }

    @include phone {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  &__input {
    width: 55%;
    margin-left: 20px;
    margin-right: 20px;

    //tablet
    @include media(1289px) {
      width: 68%;
      margin-left: 0;
      margin-right: 49px;
      border-radius: 0;
    }

    @include phone {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 40px;
      margin-top: 10px;
    }
  }
}



.select2-container {
  @include dinFont;

  //options in a dropdown list
  .select2-results {
    overflow-x: auto;
    max-height: 15rem;

    &__option {
      padding: 8px;
      white-space: nowrap;

      &--highlighted {
        color: white;
        background: $solar;
      }
    }
  }

  &--opaque {
    input {
      border-radius: 0;
    }

    .select2-selection {
      width: 100%;
      border: none;
      border-bottom: 2px solid rgba(255, 255, 255, 0.7);
      height: 30px;
      line-height: 22px;
      font-size: 22px;
      vertical-align: middle;
      padding: 0;
      border-radius: 0;
      margin: 0;
      outline: none;

      @include media(1289px) {
        font-size: 20px;
      }

      @include tablets {
        font-size: 18px;
      }

      &--single {
        .select2-selection__rendered {
          padding: 0 12px;
          outline: none;

          @include phone {
            padding: 0;
          }
        }
      }
    }

    &.select2-container--open:not(.select2) {
      z-index: 20;

      //when clicked outside of select2 with opened dropdown
      .select2-dropdown {
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        transform: translateY((-48px));

        &--above {
          transform: translateY(48px);
          flex-direction: column-reverse;
        }

        .select2-search--dropdown {
          padding: 0;
        }

        //when clicked on input field
        input {
          outline: none;
          font-weight: 500;
          box-shadow: none;
          border: none;
          height: 50px;
          line-height: 30px;
          font-size: 22px;
          vertical-align: middle;
          margin-bottom: 0;
          border-bottom: 2px solid rgba(255, 255, 255, 0.7);
          border-radius: 0;
          color: white;
          padding: 0 15px;
          background-color: #14191f;
          -webkit-appearance: none;

          @include media(1289px) {
            font-size: 20px;
          }

          @include tablets {
            font-size: 18px;
          }

          &:focus {
            background-color: #14191f;
            -webkit-appearance: none;
            outline: none;
            border-radius: 0;
          }
        }
      }
    }

    //color of input field after option in a dropdown list is selected
    &.select2-container .select2-selection--single:focus {
      background-color: transparent;
    }

    //dropdown list style
    .select2-results {
      background-color: #14191f;
      border-radius: 0;
      padding: 4px 6px;
      //padding: 40px 30px;
      font-size: 22px;
      box-shadow: none;

      @include media(1289px) {
        font-size: 20px;
      }

      @include tablets {
        font-size: 18px;
      }

      .select2-results__option {
        &:hover {
          color: white;
        }
      }
    }
  }
}


.select2-results {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 3px;
    background-color: rgba(255,255,255,0.2);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 0px solid rgba(255,255,255,0.2); /* should match background, can't be transparent */
    background-color: $solar;
  }
}


//.select2-container--opaque.select2-container--open:not(.select2) .select2-dropdown input
