.show-card {
  width: 100%;

  @include phone {
    margin-bottom: 30px;
  }

  &:hover {
    .show-card {
      &__pic {
        border-bottom-right-radius: 40px;
        opacity: 0.5;
      }
      &__play {
        opacity: 1;
      }

      &__cover {
        border-bottom-right-radius: 40px;
        background-color: black;
      }

      &__name {
        background-size: 100% 100%;

      }
      &__more-arrow {
        padding-left: 14px;
      }
    }
  }

  &__time {
    margin-bottom: 21px;
    @include dinFont;
    font-size: 30px;
    line-height: 141.68%;
    color: #FFFFFF;
  }

  &__link {
    width: 100%;
    display: block;
  }

  &__cover {
    padding-top: 60%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    transition: all .25s linear;

    @include phone {
      margin-bottom: 10px;
    }

    &_square {
      padding-top: 78%;
    }

    &_vertical {
      padding-top: 124%;

    }

    &_420-330 {
      padding-top: 79%;
    }
  }

  &__pic {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 100%;
    transition: all .25s linear;
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90px;
    max-height: 90px;
    width: 90px;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    border-color: #fff;
    color: #81d1ea;
    background-color: transparent;
    transition: all .25s linear;
  }

  &__description {
    @include dinFont;
    color: white;
    font-size: 18px;
    line-height: 26px;

    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 20px;
    width: 68%;
  }

  &__name {
    display: inline;
    @include chunky-underline($solar, true, 25%, 10%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .4s background-size;

  }

  &__season {
    @include dinFont;
    color: white;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 10px;

    &_lowercase {
      text-transform: initial;
    }
  }

  &__more {
    font-size: 22px;
    letter-spacing: 2px;
    color: white;
    margin-top: 20px;

  }

  &__more-arrow {
    padding-left: 10px;
    transition: 0.3s ease-out;
    svg {
      transform: rotate(-90deg);
      width: 10px;
      height: 5px;
      vertical-align: middle;
      path {
        stroke: $solar;
      }
    }
  }

}

