.show-cell {
  padding: 30px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);

  &__heading {
    display: flex;
    position: relative;
    cursor: pointer;
  }

  &__left {
    margin-right: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__time {
    @include dinFont;
    font-size: 30px;
    font-weight: 500;
    transition: 0.5s ease-out;

    @include phone {
      font-size: 24px;
    }
  }

  &__prime {
    font-weight: 700;
    font-size: 18px;
    color: $solar;

    @include phone {
      font-size: 16px;
    }

  }

  &__title {
    font-size: 30px;
    letter-spacing: 1px;
    padding-right: 19px;
    transition: 0.5s ease-out;

    @include phone {
      font-size: 20px;
    }
  }

  &__season {
    @include dinFont;
    font-size: 14px;
    padding-right: 19px;
  }


  &__trigger {
    position: absolute;
    width: 10px;
    height: 10px;
    //top: 50%;
    top: 33%;
    right: 0;
    transition: 0.3s;

    svg {
      path {
        transition: 0.5s ease-out;
        stroke: white;
      }
    }

    &.active {
      transform: scale(1,-1) scale(1,1);
      transform-origin: center;
    }
  }
}
