.show-about {
  margin-bottom: 40px;
  padding-left: 111px;


  @include phone {
    padding-left: 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include media(960px) {
      display: block;
    }
  }

  &__text {
    width: 41%;
    margin-right: 29px;

    @include media(960px) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__p {
    margin-bottom: 30px;
    @include dinFont;
  }

  &__button-container {
    @include media(960px) {
      display: flex;
      justify-content: center;
    }
  }

  &__pic {
    width: 59%;
    max-height: 400px;
    overflow: hidden;
    border-radius: 5px;

    &--placeholder {
      min-height: 300px;
      position: relative;

      @include phone {
        min-height: 200px;
      }
    }

    @include media(960px) {
      width: 100%;
      margin: 0 auto;
    }
  }

  &__channel-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__logo-img {
    max-width: 150px;

    @include phone {
      max-width: 110px;
    }
  }

  &__img {
    width: 100%;
    border-radius: 5px;
  }

  &__cover {
    padding-top: 60%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    transition: all .25s linear;

    &_square {
      padding-top: 78%;
    }
  }
}
