.show-description {
  margin-bottom: 60px;
  margin-top: 119px;

  @include tablets {
    margin-top: 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include tablets {
      display: block;
    }
  }

  &__text {
    width: 41%;
    @include dinFont;
    margin-right: 29px;

    @include tablets {
      width: 100%;
    }
  }

  &__p {
    font-size: 18px;
    margin-bottom: 30px;

    @include phone {
      font-size: 16px;
    }
  }

  &__pic {
    width: 59%;
    max-height: 400px;
    overflow: hidden;
    border-radius: 5px;

    @include tablets {
      width: 70%;
      margin: 0 auto;
    }

    @include media(600px) {
      width: 100%;
    }
  }

  &__img {
    width: 100%;
    border-radius: 5px;
  }

  &__cover {
    padding-top: 60%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    transition: all .25s linear;

    &_square {
      padding-top: 78%;
    }
  }
}
