.slider-top {

  &__link {
    display: block;
    position: absolute;
    top: 52%;
    left: 73%;
    z-index: 4;

    @include media(1360px) {
      left: 77%;
    }

    @include media(1100px) {
      left: 79%;
      top: 64%;
    }

    @include media(486px) {
      left: 42%;
      top: 36%;
    }
  }

  &__play {
    width: 90px;
    height: 90px;

    svg {
      path {
        fill: $solar;
       transition: 0.5s ease-out;
      }
      rect {
        transition: 0.5s ease-out;
      }

    }

    &:hover {
      svg {
        path {

        }
        rect {
          stroke: $solar;
        }
      }
    }
    @include media(1100px) {
      width: 80px;
      height: 80px;
    }

    @include phone {
      width: 60px;
      height: 60px;
    }
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    //background-size: auto 100%;
    //background-repeat: no-repeat;
    background-position: center;

    @include media(486px) {
      display: none;
    }

    &_mobile {
      display: none;
      @include media(486px) {
        position: initial;
        height: 394px;
        display: block;
        border-bottom-right-radius: 48px;
      }
    }
  }

  &__date-time {
    @include dinFont;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 1px;

    //display: flex;

    @include media(1100px) {
      font-size: 20px;
      line-height: 26px;
      text-transform: uppercase;
    }

    @include media(486px) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__date {
    margin-right: 24px;
  }

  &__time {
    display: flex;
  }

  &__hours {
    position: relative;
    display: inline;

    &:after {
      content: '';
      left: 0;
      bottom: -20px;
      position: absolute;
      width: 100%;
      height: 12px;
      background-color: $solar;
    }

    @include media(486px) {
      font-weight: bold;

      &:after {
        height: 9px;
      }
    }
  }

  &__mins {
    display: inline;
    margin: 0;
  }

  &__info {
    @include dinFont;
    margin-bottom: 10px;
    color: $solar;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 1px;

    //tablet
    @include media(1100px) {
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      text-transform: uppercase;
    }

    @include media(486px) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 1px;

    @include media(1287px) {
      font-size: 80px;
    }
    //tablet
    @include media(1100px) {
      font-size: 72px;
      line-height: 79px;
    }

    @include media(888px) {
      font-size: 55px;
      line-height: normal;
    }
    @include media(640px) {
      font-size: 48px !important;
      line-height: 57px;
    }

    @include media(486px) {
      font-size: 40px !important;
      line-height: 48px;
      margin-bottom: 11px;
    }
  }

  &__item {
    min-height: 630px;

    @include media(1100px) {
      min-height: 390px;

    }

    @include media(486px) {
      min-height: auto;
      height: auto;
    }

  }
  &__descr {
    position: relative;
    margin-top: 261px;
    margin-left: 182px;
    max-width: 1000px;

    @include media(1724px) {
      max-width: 837px;
    }
    @include media(1287px) {
      max-width: 646px;
    }
    //tablet
    @include media(1100px) {
      max-width: 566px;
      margin-top: 105px;
      margin-left: 34px;
    }

    @include media(888px) {
      max-width: 465px;
    }

    @include media(486px) {
      //margin-top: 441px;
      margin-top: 51px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .swiper-slide {
    overflow: hidden;
    height: auto;

    @include media(486px) {
      overflow: visible;
    }
  }

  .swiper-container {
    @include media(486px) {
      overflow: visible;
    }
  }

}
