.socials {
  &__list {
    display: flex;

    @include phone {
      justify-content: center;
    }
  }
  &__item {
    margin-right: 18px;
    &:last-child {
      margin-right: 0;
    }

    &_big-marg {
      margin-right: 41px;

      @include tablets {
        margin-right: 33px;
      }

      @include phone {
        margin-right: 18px;
      }
    }
  }
  &__link {
    svg {
      transition: 0.4s;
    }

    &:hover {
      svg {
        fill: $solar;
      }
    }

  }
  &__pic {
    fill: #fff;
    vertical-align: bottom;
    &_fb {
      height: 14.86px;
      width: 7.42px;
      @include phone {
        width: 24.06px;
        height: 26.86px;
        margin-top: -2px;
      }

      //height: 20px;
      //width: 9.42px;
    }
    &_vk {
      width: 14.55px;
      height: 8.3px;
      margin-bottom: 2px;

      @include phone {
        width: 26.06px;
        height: 26.86px;
      }
      //height: 12px;
      //width: 19.42px;
    }
    &_youtube {
      //width: 20px;
      //height: 13px;

      width: 14.06px;
      height: 9.86px;
      margin-bottom: 2px;
      @include phone {
        width: 24.06px;
        height: 26.86px;
      }
    }

    &_dzen {
      width: 14.06px;
      height: 11.86px;
      margin-bottom: 1px;

      @include phone {
        width: 24.06px;
        height: 26.86px;
      }

      //width: 16px;
      //height: 16px;
    }

  }
}
