.tags{
  margin-bottom: 45px;

  @include phone {
    overflow-x: scroll;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;

    @include phone {
      flex-wrap: nowrap;
    }
  }

  &__item {
    margin-right: 24px;
    margin-left: -14px;

    &.active {
      .tags__link {
        color: $solar;
        &:before, &:after {
          opacity: 1;
          transform: translateX(0px);
        }



        @include phone {
          &::before, &::after, &:focus::before, &:focus::after {
            opacity: 0;
          }
          &::before {
            transform: translateX(20px);
          }
          &::after {
            transform: translateX(-20px);
          }
        }
      }
    }
  }

  &__link {
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
    transition: 0.4s ease-out;
    white-space: nowrap;
    line-height: normal;



    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    outline: none;
    text-decoration: none;


    &::before, &::after {
      display: inline-block;
      opacity: 0;
      transition: transform 0.3s, opacity 0.2s;
    }


    &::before {
      margin-right: 10px;
      content: '[';
      transform: translateX(20px);
    }

    &::after {
      margin-left: 10px;
      content: ']';
      transform: translateX(-20px);
    }



    &:hover {
      color: $solar;

      &::before, &::after, &:focus::before, &:focus::after {
        opacity: 1;
        transform: translateX(0px);
      }


      @include phone {
        &::before, &::after, &:focus::before, &:focus::after {
          opacity: 0;
        }
        &::before {
          transform: translateX(20px);
        }
        &::after {
          transform: translateX(-20px);
        }
      }
    }

    &:focus::before, &:focus::after {
      opacity: 1;
      transform: translateX(0px);
    }

    @include tablets {
      font-size: 20px;
    }
  }
}
