.terms {

  margin-bottom: 80px;

  &__container {
    max-width: 1064px;
  }

  &__list {
    margin-bottom: 30px;
    margin-left: 20px;

    @include media(400px) {
      margin-left: 10px;
    }
  }

  .text-list__item {
    &:before {
      top: 10px;
      width: 8px;
      height: 8px;
    }
  }

}
