.text-list {
  @include dinFont;
  font-size: 18px;
  color: $greyish;

  @include phone {
    font-size: 16px;
  }

  &__item {
    position: relative;
    padding-left: 20px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 7px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $solar;
    }
  }
}
