.title {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 1px;
  margin-bottom: 34px;
  color: white;

  @include tablets {
    //font-size: 36px;
    line-height: normal;
  }

  @include phone {
    font-size: 33px;
    letter-spacing: 1px;
  }

  &_no-m {
    margin-bottom: 0;

    @include tablets {
      letter-spacing: 2px;
    }
  }

  &_h2 {
    font-size: 42px;
    line-height: 55px;
    letter-spacing: normal;

    @include tablets {
      font-size: 36px;
      line-height: normal;
    }

    @include phone {
      font-size: 20px;
      letter-spacing: 1px;
    }
  }

  &_h3 {
    font-size: 30px;
    line-height: 25px;

    @include tablets {
      font-size: 24px;
      line-height: normal;
    }

    @include phone {
      font-size: 22px;
      letter-spacing: 1px;
    }
  }

  &_h4 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;

    @include tablets {
      font-size: 27px;
      line-height: normal;
    }

    @include phone {
      font-size: 20px;
      letter-spacing: 1px;
    }


  }
}
