.topic {
  color: #ffffff;

  &__container {
    max-width: 1064px;

    @include media(1200px) {
      max-width: 895px;
    }

    @include media(850px) {
      max-width: 560px;
    }
  }

  h2 {
    margin-bottom: 54px;
    margin-top: 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #fff;

    @include phone {
      margin-bottom: 24px;
      margin-top: 30px;
    }
  }

 h3 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
    letter-spacing: 1px;

    @include phone {
      font-size: 18px;
    }

    &_privacy {
      margin-top: 60px;

      @include phone {
        margin-top: 30px;
      }
    }
  }

  img {
    //margin-top: 20px;
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }

  p, span, a {
    //text-align: justify;
    @include dinFont;
    font-size: 18px;
    color: $greyish;
    margin-bottom: 30px;

    @include phone {
      font-size: 16px;
    }
  }
  span {
    display: inline-block;
  }

  a {
    text-decoration: underline;
    transition: 0.5s ease-out;

    &:hover {
      color: white;
    }
  }

  ul {
    margin-top: 45px;
    margin-bottom: 50px;

    @include dinFont;
    font-size: 18px;
    color: $greyish;

   li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 7px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $solar;
      }
    }

    @include phone {
      margin-top: 25px;
      margin-bottom: 30px;
      font-size: 16px;
    }
  }

  &_privacy {
    margin-bottom: 100px;

    @include phone {
      margin-bottom: 70px;
    }

    @include media(400px) {
      margin-bottom: 40px;
    }
  }

  //&__text -> p
  //&__list -> ul

}
