.topic-video {
  &__container {
    max-width: 1064px;
    margin-bottom: 80px;

    @include media(1200px) {

      max-width: 895px;
      margin-bottom: 60px;
    }

    @include media(850px) {
      max-width: 560px;
      margin-bottom: 40px;
    }
  }

  &__item {

  }
}
