.video-sect {
  width: 74%;

  @include media(930px) {
    width: 100%;
  }



  &__heading {
    width: 100%;
  }

  &__videos-container {
    display: flex;
    flex-flow: row wrap;
  }

  &__large-video {
    width: 100%;
    margin-bottom: 40px;

    @include media(480px) {
      margin-bottom: 20px;
    }
  }

  &__small-videos-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    width: calc(100% + 30px);

    @include media(480px) {
      margin-left: 0;
      width: 100%;
    }
  }

  &__video-item {
    width: calc(33.3333333% - 30px);
    margin-left: 30px;
    margin-bottom: 40px;


    @include media(480px) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
    }

  }
}
