@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url('../fonts/PFDinTextCompPro-Medium.eot');
  src: url('../fonts/PFDinTextCompPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextCompPro-Medium.woff2') format('woff2'),
  url('../fonts/PFDinTextCompPro-Medium.woff') format('woff'),
  url('../fonts/PFDinTextCompPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url('../fonts/PFDinTextCompPro-Bold.eot');
  src: url('../fonts/PFDinTextCompPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextCompPro-Bold.woff2') format('woff2'),
  url('../fonts/PFDinTextCompPro-Bold.woff') format('woff'),
  url('../fonts/PFDinTextCompPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Bold.eot');
  src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINPro-Bold.woff2') format('woff2'),
  url('../fonts/DINPro-Bold.woff') format('woff'),
  url('../fonts/DINPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Medium.eot');
  src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINPro-Medium.woff2') format('woff2'),
  url('../fonts/DINPro-Medium.woff') format('woff'),
  url('../fonts/DINPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro.eot');
  src: url('../fonts/DINPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINPro.woff2') format('woff2'),
  url('../fonts/DINPro.woff') format('woff'),
  url('../fonts/DINPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


