// @include add-grid(12);
// @include add-gutter(1/3);
// @include add-gutter-style('split');

// @include sgs-change('debug', true);

// .container {
//   @include background-grid($color: blue);
// }

//singylarity usage
//@include grid-span(6,1);  1 - сколько занять, 2 - откуда начать

html, body {
  width: 100%;
  height: 100%;
  min-width: 319px;
}

body {
  @include pfDinFont;
  font-size: 16px;
  color: #ffffff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42;

  &.solar {
    .header__promo {
      &:hover {
        .header__promo-heading {
          color: $solar;
        }
      }
    }

    .nav {
      &__item {
        &_has-dropdown {
          &:hover {
            .nav__link {
              color: $solar;
            }
          }
        }
        @media (min-width: 1417px) {
          &.active {
            border-bottom: 2px solid $solar !important;
            .nav__link {
              color: $solar;
            }
          }
        }
      }

      &__open-dropdown {
        &:hover {
          svg {
            path {
              stroke: $solar;
            }
          }
        }
      }

      &__link {

        &:hover {
          color: $solar;
        }
      }
    }

    .dropdown {
      &:hover {
        .nav__link {
          color: $solar;
        }
      }

      &__link {
        &:hover {
          color: $solar;
        }

        &.active {
          color: $solar;
        }
      }
    }

    .search {
      &__icon {
        &:hover {
          svg {
            path {
              stroke: $solar;
            }
          }
        }
      }
    }
    .button {
      background-color: $solar;

      &_bordered {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
      }

      &::before, &::after {
        background: $solar;
      }
      &:active {
        color: $solar;
      }

      &:hover {
        background-color: transparent;
        border-color: transparent;
      }

      &__text {
        &::before, &::after {
          background: $solar;
        }
      }

      @include media(900px) {
        border-color: transparent;
      }
    }

    .socials {
      &__link {
        &:hover {
          svg {
            fill: $solar;
          }
        }

      }
    }

    .main-hero {
      background-color: $solar;

      @include media(486px) {
        background-color: transparent;
      }

      &__slider-bottom-line {
        @include media(486px) {
          path {
            fill: $solar;
          }
        }
      }

      &__controls {

        .swiper-button-next, .swiper-button-prev {

          &:hover {
            svg {
              .rounded-border {
                stroke: $solar;
              }
            }
          }

          &:active {
            svg {
              .play-icon {
                stroke: $solar;
              }
            }

          }
        }

      }
    }

    .slider-top {
      &__play {

        svg {
          path {
            fill: $solar;
          }
        }

        &:hover {
          svg {
            rect {
              stroke: $solar;
            }
          }
        }
      }

      &__hours {
        &:after {
          background-color: $solar;
        }

      }
      &__info {
        color: $solar;
      }
    }

    .show-card {
      &__name {
        @include chunky-underline($solar, true, 25%, 10%);
      }
      &__more-arrow {

        svg {
          path {
            stroke: $solar;
          }
        }
      }
    }

    .tags {
      &__item {
        &.active {
          .tags__link {
            color: $solar;
          }
        }
      }

      &__link {
        &:hover {
          color: $solar;

        }
      }
    }

    .hero {
      &__colored-border {
        background-color: $solar;

        &_desktop {
          @include media(480px) {
            background-color: transparent;
          }
        }
      }
      &__title {

        &:after {
          background-color: $solar;
        }
      }
    }

    .breadcrumbs {
      &__link {
        &:hover {
          color: $solar;
        }

      }
    }
    .footer {
      &__logo-link {
        &:hover {
          color: $solar;
        }
      }
    }

    .footer-nav {
      &__link {
        &:hover {
          color: $solar;
        }
      }
    }

    .day-slider {
      &__item {
        &.active {
          background-color: $solar;
          border-bottom: 1px solid $solar;
          border-top: 1px solid $solar;
        }
      }

      .swiper-button-next, .swiper-button-prev {

        &:hover {
          svg {
            .rounded-border {
              stroke: $solar;
            }
          }
        }

        &:active {
          svg {
            .play-icon {
              stroke: $solar;
            }
          }

        }
      }
    }

    .preloader {
      .lds-dual-ring:after {
        border: 5px solid $solar;
        border-color: $solar transparent $solar transparent;
      }
    }

    .accordion {
      &__action {
        &:hover {
          .show-cell__title, .show-cell__time {
            color: $solar;
          }
          .show-cell__trigger {
            svg {
              path {
                stroke: $solar;
              }
            }
          }
        }
      }
    }

    .show-cell {
      &__prime {
        color: $solar;
      }
    }

    .show-about__pic--placeholder {
      background-color: $solar;
    }

    .provider {
      &:hover {
        background-color: $solar;

        &:before {
          background-color: $solar;
        }
      }

      &__link {
        color: #007BA8;
      }

      &__external-link {
        svg {
          path {
            stroke: #007BA8;
          }
        }
      }
    }

    .text-list {
      &__item {
        &::before {
          background-color: $solar;
        }
      }
    }

    .topic {
      ul {
        li {

          &::before {
            background-color: $solar;
          }
        }
      }
    }

    .quote {
      &__icon {
        svg {
          path {
            fill: $solar;
          }
        }
      }
    }

    .branded {
      &__title {
        color: $solar;
      }
    }

    .letters {
      &__link {
        &:hover {
          color: $solar;
        }
      }
      .active {
        .letters__link {
          color: $solar;
        }
      }
    }

    .other-channels {
      .swiper-button-next, .swiper-button-prev {

        &:hover {
          svg {
            .play-icon {
              stroke: $solar;
            }
          }
        }

        &:active {
          svg {
            .rounded-border {
              stroke: $solar;
            }
          }

        }
      }
    }

    .premier {
      .swiper-button-next, .swiper-button-prev {

        &:hover {
          svg {
            .rounded-border {
              stroke: $solar;
            }
          }
        }

        &:active {
          svg {
            .play-icon {
              stroke: $solar;
            }
          }

        }
      }
    }

    .select2-container {
      .select2-results {
        &__option {
          &--highlighted {
            background: $solar;
          }
        }
      }
    }

    .select2-results {
      &::-webkit-scrollbar-thumb {
        background-color: $solar;
      }
    }

    .videos {
      &__controls {
        svg {

          .play-icon {
            stroke: $solar;
          }
        }
      }

      .swiper-button-next, .swiper-button-prev {

        &:hover {
          svg {
            .rounded-border {
              stroke: $solar;
            }
          }
        }

        &:active {
          svg {
            .play-icon {
              stroke: $solar;
            }
          }
        }
      }
    }
  }

  &.marine {
    .header__promo {
      &:hover {
        .header__promo-heading {
          color: $marine;
        }
      }
    }

    .nav {
      &__item {
        &_has-dropdown {
          &:hover {
            .nav__link {
              color: $marine;
            }
          }
        }
        @media (min-width: 1417px) {
          &.active {
            border-bottom: 2px solid $marine !important;
            .nav__link {
              color: $marine;
            }
          }
        }
      }

      &__open-dropdown {
        &:hover {
          svg {
            path {
              stroke: $marine;
            }
          }
        }
      }

      &__link {

        &:hover {
          color: $marine;
        }
      }
    }

    .dropdown {
      &:hover {
        .nav__link {
          color: $marine;
        }
      }

      &__link {
        &:hover {
          color: $marine;
        }

        &.active {
          color: $marine;
        }
      }
    }

    .search {
      &__icon {
        &:hover {
          svg {
            path {
              stroke: $marine;
            }
          }
        }
      }
    }
    .button {
      background-color: $marine;

      &_bordered {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
      }

      &::before, &::after {
        background: $marine;
      }
      &:active {
        color: $marine;
      }

      &:hover {
        background-color: transparent;
        border-color: transparent;
      }

      &__text {
        &::before, &::after {
          background: $marine;
        }
      }

      @include media(900px) {
        border-color: transparent;
      }
    }

    .socials {
      &__link {
        &:hover {
          svg {
            fill: $marine;
          }
        }

      }
    }

    .main-hero {
      background-color: $marine;

      @include media(486px) {
        background-color: transparent;
      }

      &__slider-bottom-line {
        @include media(486px) {
          path {
            fill: $marine;
          }
        }
      }

      &__controls {

        .swiper-button-next, .swiper-button-prev {

          &:hover {
            svg {
              .rounded-border {
                stroke: $marine;
              }
            }
          }

          &:active {
            svg {
              .play-icon {
                stroke: $marine;
              }
            }

          }
        }

      }
    }

    .slider-top {
      &__play {

        svg {
          path {
            fill: $marine;
          }
        }

        &:hover {
          svg {
            rect {
              stroke: $marine;
            }
          }
        }
      }

      &__hours {
        &:after {
          background-color: $marine;
        }

      }
      &__info {
        color: $marine;
      }
    }

    .show-card {
      &__name {
        @include chunky-underline($marine, true, 25%, 10%);
      }
      &__more-arrow {

        svg {
          path {
            stroke: $marine;
          }
        }
      }
    }

    .tags {
      &__item {
        &.active {
          .tags__link {
            color: $marine;
          }
        }
      }

      &__link {
        &:hover {
          color: $marine;

        }
      }
    }

    .hero {
      &__colored-border {
        background-color: $marine;

        &_desktop {
          @include media(480px) {
            background-color: transparent;
          }
        }
      }
      &__title {

        &:after {
          background-color: $marine;
        }
      }
    }

    .breadcrumbs {
      &__link {
        &:hover {
          color: $marine;
        }

      }
    }
    .footer {
      &__logo-link {
        &:hover {
          color: $marine;
        }
      }
    }

    .footer-nav {
      &__link {
        &:hover {
          color: $marine;
        }
      }
    }

    .day-slider {
      &__item {
        &.active {
          background-color: $marine;
          border-bottom: 1px solid $marine;
          border-top: 1px solid $marine;
        }
      }

      .swiper-button-next, .swiper-button-prev {

        &:hover {
          svg {
            .rounded-border {
              stroke: $marine;
            }
          }
        }

        &:active {
          svg {
            .play-icon {
              stroke: $marine;
            }
          }

        }
      }
    }

    .preloader {
      .lds-dual-ring:after {
        border: 5px solid $marine;
        border-color: $marine transparent $marine transparent;
      }
    }

    .accordion {
      &__action {
        &:hover {
          .show-cell__title, .show-cell__time {
            color: $marine;
          }
          .show-cell__trigger {
            svg {
              path {
                stroke: $marine;
              }
            }
          }
        }
      }
    }

    .show-cell {
      &__prime {
        color: $marine;
      }
    }

    .show-about__pic--placeholder {
      background-color: $marine;
    }

    .provider {
      &:hover {
        background-color: $marine;

        &:before {
          background-color: $marine;
        }
      }

      &__link {
        color: #007BA8;
      }

      &__external-link {
        svg {
          path {
            stroke: #007BA8;
          }
        }
      }
    }

    .text-list {
      &__item {
        &::before {
          background-color: $marine;
        }
      }
    }

    .topic {
      ul {
        li {

          &::before {
            background-color: $marine;
          }
        }
      }
    }

    .quote {
      &__icon {
        svg {
          path {
            fill: $marine;
          }
        }
      }
    }

    .branded {
      &__title {
        color: $marine;
      }
    }

    .letters {
      &__link {
        &:hover {
          color: $marine;
        }
      }
      .active {
        .letters__link {
          color: $marine;
        }
      }
    }

    .other-channels {
      .swiper-button-next, .swiper-button-prev {

        &:hover {
          svg {
            .play-icon {
              stroke: $marine;
            }
          }
        }

        &:active {
          svg {
            .rounded-border {
              stroke: $marine;
            }
          }

        }
      }
    }

    .premier {
      .swiper-button-next, .swiper-button-prev {

        &:hover {
          svg {
            .rounded-border {
              stroke: $marine;
            }
          }
        }

        &:active {
          svg {
            .play-icon {
              stroke: $marine;
            }
          }

        }
      }
    }

    .select2-container {
      .select2-results {
        &__option {
          &--highlighted {
            background: $marine;
          }
        }
      }
    }

    .select2-results {
      &::-webkit-scrollbar-thumb {
       background-color: $marine;
      }
    }

    .videos {
      &__controls {
        svg {

          .play-icon {
            stroke: $marine;
          }
        }
      }

      .swiper-button-next, .swiper-button-prev {

        &:hover {
          svg {
            .rounded-border {
              stroke: $marine;
            }
          }
        }

        &:active {
          svg {
            .play-icon {
              stroke: $marine;
            }
          }
        }
      }
    }
  }

  &.terra {
    .header__promo {
      &:hover {
        .header__promo-heading {
          color: $terra;
        }
      }
    }

    .nav {
      &__item {
        &_has-dropdown {
          &:hover {
            .nav__link {
              color: $terra;
            }
          }
        }
        @media (min-width: 1417px) {
          &.active {
            border-bottom: 2px solid $terra !important;
            .nav__link {
              color: $terra;
            }
          }
        }
      }

      &__open-dropdown {
        &:hover {
          svg {
            path {
              stroke: $terra;
            }
          }
        }
      }

      &__link {

        &:hover {
          color: $terra;
        }
      }
    }

    .dropdown {
      &:hover {
        .nav__link {
          color: $terra;
        }
      }

      &__link {
        &:hover {
          color: $terra;
        }

        &.active {
          color: $terra;
        }
      }
    }

    .search {
      &__icon {
        &:hover {
          svg {
            path {
              stroke: $terra;
            }
          }
        }
      }
    }
    .button {
      background-color: $terra;

      &_bordered {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
      }

      &::before, &::after {
        background: $terra;
      }
      &:active {
        color: $terra;
      }

      &:hover {
        background-color: transparent;
        border-color: transparent;
      }

      &__text {
        &::before, &::after {
          background: $terra;
        }
      }

      @include media(900px) {
        border-color: transparent;
      }
    }

    .socials {
      &__link {
        &:hover {
          svg {
            fill: $terra;
          }
        }

      }
    }

    .main-hero {
      background-color: $terra;

      @include media(486px) {
        background-color: transparent;
      }

      &__slider-bottom-line {
        @include media(486px) {
          path {
            fill: $terra;
          }
        }
      }

      &__controls {

        .swiper-button-next, .swiper-button-prev {

          &:hover {
            svg {
              .rounded-border {
                stroke: $terra;
              }
            }
          }

          &:active {
            svg {
              .play-icon {
                stroke: $terra;
              }
            }

          }
        }

      }
    }

    .slider-top {
      &__play {

        svg {
          path {
            fill: $terra;
          }
        }

        &:hover {
          svg {
            rect {
              stroke: $terra;
            }
          }
        }
      }

      &__hours {
        &:after {
          background-color: $terra;
        }

      }
      &__info {
        color: $terra;
      }
    }

    .show-card {
      &__name {
        @include chunky-underline($terra, true, 25%, 10%);
      }
      &__more-arrow {

        svg {
          path {
            stroke: $terra;
          }
        }
      }
    }

    .tags {
      &__item {
        &.active {
          .tags__link {
            color: $terra;
          }
        }
      }

      &__link {
        &:hover {
          color: $terra;

        }
      }
    }

    .hero {
      &__colored-border {
        background-color: $terra;

        &_desktop {
          @include media(480px) {
            background-color: transparent;
          }
        }
      }
      &__title {

        &:after {
          background-color: $terra;
        }
      }
    }

    .breadcrumbs {
      &__link {
        &:hover {
          color: $terra;
        }

      }
    }
    .footer {
      &__logo-link {
        &:hover {
          color: $terra;
        }
      }
    }

    .footer-nav {
      &__link {
        &:hover {
          color: $terra;
        }
      }
    }

    .day-slider {
      &__item {
        &.active {
          background-color: $terra;
          border-bottom: 1px solid $terra;
          border-top: 1px solid $terra;
        }
      }

      .swiper-button-next, .swiper-button-prev {

        &:hover {
          svg {
            .rounded-border {
              stroke: $terra;
            }
          }
        }

        &:active {
          svg {
            .play-icon {
              stroke: $terra;
            }
          }

        }
      }
    }

    .preloader {
      .lds-dual-ring:after {
        border: 5px solid $terra;
        border-color: $terra transparent $terra transparent;
      }
    }

    .accordion {
      &__action {
        &:hover {
          .show-cell__title, .show-cell__time {
            color: $terra;
          }
          .show-cell__trigger {
            svg {
              path {
                stroke: $terra;
              }
            }
          }
        }
      }
    }

    .show-cell {
      &__prime {
        color: $terra;
      }
    }

    .show-about__pic--placeholder {
      background-color: $terra;
    }

    .provider {
      &:hover {
        background-color: $terra;

        &:before {
          background-color: $terra;
        }
      }

      &__link {
        color: #007BA8;
      }

      &__external-link {
        svg {
          path {
            stroke: #007BA8;
          }
        }
      }
    }

    .text-list {
      &__item {
        &::before {
          background-color: $terra;
        }
      }
    }

    .topic {
      ul {
        li {

          &::before {
            background-color: $terra;
          }
        }
      }
    }

    .quote {
      &__icon {
        svg {
          path {
            fill: $terra;
          }
        }
      }
    }

    .branded {
      &__title {
        color: $terra;
      }
    }

    .letters {
      &__link {
        &:hover {
          color: $terra;
        }
      }
      .active {
        .letters__link {
          color: $terra;
        }
      }
    }

    .other-channels {
      .swiper-button-next, .swiper-button-prev {

        &:hover {
          svg {
            .play-icon {
              stroke: $terra;
            }
          }
        }

        &:active {
          svg {
            .rounded-border {
              stroke: $terra;
            }
          }

        }
      }
    }

    .premier {
      .swiper-button-next, .swiper-button-prev {

        &:hover {
          svg {
            .rounded-border {
              stroke: $terra;
            }
          }
        }

        &:active {
          svg {
            .play-icon {
              stroke: $terra;
            }
          }

        }
      }
    }

    .select2-container {
      .select2-results {
        &__option {
          &--highlighted {
            background: $terra;
          }
        }
      }
    }

    .select2-results {
      &::-webkit-scrollbar-thumb {
        background-color: $terra;
      }
    }

    .videos {
      &__controls {
        svg {

          .play-icon {
            stroke: $terra;
          }
        }
      }

      .swiper-button-next, .swiper-button-prev {

        &:hover {
          svg {
            .rounded-border {
              stroke: $terra;
            }
          }
        }

        &:active {
          svg {
            .play-icon {
              stroke: $terra;
            }
          }
        }
      }
    }
  }

  &.gravity {
    .header__promo {
      &:hover {
        .header__promo-heading {
          color: $gravity;
        }
      }
    }

    .nav {
      &__item {
        &_has-dropdown {
          &:hover {
            .nav__link {
              color: $gravity;
            }
          }
        }
        @media (min-width: 1417px) {
          &.active {
            border-bottom: 2px solid $gravity !important;
            .nav__link {
              color: $gravity;
            }
          }
        }
      }

      &__open-dropdown {
        &:hover {
          svg {
            path {
              stroke: $gravity;
            }
          }
        }
      }

      &__link {

        &:hover {
          color: $gravity;
        }
      }
    }

    .dropdown {
      &:hover {
        .nav__link {
          color: $gravity;
        }
      }

      &__link {
        &:hover {
          color: $gravity;
        }

        &.active {
          color: $gravity;
        }
      }
    }

    .search {
      &__icon {
        &:hover {
          svg {
            path {
              stroke: $gravity;
            }
          }
        }
      }
    }
    .button {
      background-color: $gravity;

      &_bordered {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
      }

      &::before, &::after {
        background: $gravity;
      }
      &:active {
        color: $gravity;
      }

      &:hover {
        background-color: transparent;
        border-color: transparent;
      }

      &__text {
        &::before, &::after {
          background: $gravity;
        }
      }

      @include media(900px) {
        border-color: transparent;
      }
    }

    .socials {
      &__link {
        &:hover {
          svg {
            fill: $gravity;
          }
        }

      }
    }

    .main-hero {
      background-color: $gravity;

      @include media(486px) {
        background-color: transparent;
      }

      &__slider-bottom-line {
        @include media(486px) {
          path {
            fill: $gravity;
          }
        }
      }

      &__controls {

        .swiper-button-next, .swiper-button-prev {

          &:hover {
            svg {
              .rounded-border {
                stroke: $gravity;
              }
            }
          }

          &:active {
            svg {
              .play-icon {
                stroke: $gravity;
              }
            }

          }
        }

      }
    }

    .slider-top {
      &__play {

        svg {
          path {
            fill: $gravity;
          }
        }

        &:hover {
          svg {
            rect {
              stroke: $gravity;
            }
          }
        }
      }

      &__hours {
        &:after {
          background-color: $gravity;
        }

      }
      &__info {
        color: $gravity;
      }
    }

    .show-card {
      &__name {
        @include chunky-underline($gravity, true, 25%, 10%);
      }
      &__more-arrow {

        svg {
          path {
            stroke: $gravity;
          }
        }
      }
    }

    .tags {
      &__item {
        &.active {
          .tags__link {
            color: $gravity;
          }
        }
      }

      &__link {
        &:hover {
          color: $gravity;

        }
      }
    }

    .hero {
      &__colored-border {
        background-color: $gravity;

        &_desktop {
          @include media(480px) {
            background-color: transparent;
          }
        }
      }
      &__title {

        &:after {
          background-color: $gravity;
        }
      }
    }

    .breadcrumbs {
      &__link {
        &:hover {
          color: $gravity;
        }

      }
    }
    .footer {
      &__logo-link {
        &:hover {
          color: $gravity;
        }
      }
    }

    .footer-nav {
      &__link {
        &:hover {
          color: $gravity;
        }
      }
    }

    .day-slider {
      &__item {
        &.active {
          background-color: $gravity;
          border-bottom: 1px solid $gravity;
          border-top: 1px solid $gravity;
        }
      }

      .swiper-button-next, .swiper-button-prev {

        &:hover {
          svg {
            .rounded-border {
              stroke: $gravity;
            }
          }
        }

        &:active {
          svg {
            .play-icon {
              stroke: $gravity;
            }
          }

        }
      }
    }

    .preloader {
      .lds-dual-ring:after {
        border: 5px solid $gravity;
        border-color: $gravity transparent $gravity transparent;
      }
    }

    .accordion {
      &__action {
        &:hover {
          .show-cell__title, .show-cell__time {
            color: $gravity;
          }
          .show-cell__trigger {
            svg {
              path {
                stroke: $gravity;
              }
            }
          }
        }
      }
    }

    .show-cell {
      &__prime {
        color: $gravity;
      }
    }

    .show-about__pic--placeholder {
      background-color: $gravity;
    }

    .provider {
      &:hover {
        background-color: $gravity;

        &:before {
          background-color: $gravity;
        }
      }

      &__link {
        color: #007BA8;
      }

      &__external-link {
        svg {
          path {
            stroke: #007BA8;
          }
        }
      }
    }

    .text-list {
      &__item {
        &::before {
          background-color: $gravity;
        }
      }
    }

    .topic {
      ul {
        li {

          &::before {
            background-color: $gravity;
          }
        }
      }
    }

    .quote {
      &__icon {
        svg {
          path {
            fill: $gravity;
          }
        }
      }
    }

    .branded {
      &__title {
        color: $gravity;
      }
    }

    .letters {
      &__link {
        &:hover {
          color: $gravity;
        }
      }
      .active {
        .letters__link {
          color: $gravity;
        }
      }
    }

    .other-channels {
      .swiper-button-next, .swiper-button-prev {

        &:hover {
          svg {
            .play-icon {
              stroke: $gravity;
            }
          }
        }

        &:active {
          svg {
            .rounded-border {
              stroke: $gravity;
            }
          }

        }
      }
    }

    .premier {
      .swiper-button-next, .swiper-button-prev {

        &:hover {
          svg {
            .rounded-border {
              stroke: $gravity;
            }
          }
        }

        &:active {
          svg {
            .play-icon {
              stroke: $gravity;
            }
          }

        }
      }
    }

    .select2-container {
      .select2-results {
        &__option {
          &--highlighted {
            background: $gravity;
          }
        }
      }
    }

    .select2-results {
      &::-webkit-scrollbar-thumb {
        background-color: $gravity;
      }
    }

    .videos {
      &__controls {
        svg {

          .play-icon {
            stroke: $gravity;
          }
        }
      }

      .swiper-button-next, .swiper-button-prev {

        &:hover {
          svg {
            .rounded-border {
              stroke: $gravity;
            }
          }
        }

        &:active {
          svg {
            .play-icon {
              stroke: $gravity;
            }
          }
        }
      }
    }
  }

}

textarea,
input[type="text"],
input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 61px;
  padding-right: 62px;
  //@extend %clearfix;

  @include tablets {
    padding-left: 34px;
    padding-right: 34px;
  }

  @include phone {
    padding-left: 15px;
    padding-right: 15px;
  }

  .circle-buttons {
    a {
      text-decoration: none;
    }
  }
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  background-color: $darkBlue;

  &_branded {
    max-width: 1440px;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.42;
}

