extends ../_template

block variables
	- var title = 'О телеканале';

block content
	.wrapper
		include ../common/_header.pug


		.hero.hero_about
			.hero__wrapper
				.hero__colored-border.hero__colored-border_inside
					.hero__background.hero__background_inside(style="background-image: url('./assets/img/about.jpg')")
						.hero__container.hero__container_inside.container
							.hero__breadcrumbs.hero__breadcrumbs_inside.breadcrumbs
								.breadcrumbs__item
									a(href='javascript:void(0);').breadcrumbs__link Главная
								.breadcrumbs__item
									a(href='javascript:void(0);').breadcrumbs__link.breadcrumbs__link_current О телеканале
							.hero__title.hero__title_inside О телеканале

		.about
			.about__container.container
				.about__text Мы&nbsp;&mdash; это восторг, адреналин и&nbsp;юмор.
				.about__text Мы&nbsp;предлогаем зретилям обнаружить искателя приключений и&nbsp;внутри себя, мы&nbsp;заражаем их&nbsp;жаждой знаний.

		.pic
			.pic__cover
				img(src='assets/img/about-img.jpg').pic__pic






	include ../common/_footer.pug
