extends ../_template

block variables
	- var title = 'Discovery';

block content
	.wrapper
		include ../common/_header.pug

		.main-hero(data-aos="fade-in")
			.main-hero__container.swiper-container
				ul.main-hero__list.slider-top.swiper-wrapper
					li.slider-top__item.swiper-slide
						a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).slider-top__link
							.slider-top__play
								include ../../images/play.svg

						.slider-top__background(style="background-image: url('./assets/img/top-slider-3.png')")
						.slider-top__background.slider-top__background_mobile(style="background-image: url('./assets/img/top-slider-mob-4.png')")

						.slider-top__descr(data-swiper-parallax-opacity="0")
							.slider-top__info(data-swiper-parallax="-100" data-swiper-parallax-duration="1000") Прайм тайм
							.slider-top__name(data-swiper-parallax="-200" data-swiper-parallax-duration="1200") Золотой путь Паркера Шнабеля
							.slider-top__date-time(data-swiper-parallax="-400" data-swiper-parallax-duration="1400")
								.slider-top__date воскресенье
								.slider-top__time
									.slider-top__hours 18
									|.
									.slider-top__mins 00
					li.slider-top__item.swiper-slide
						a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).slider-top__link
							.slider-top__play
								include ../../images/play.svg
						.slider-top__background(style="background-image: url('./assets/img/top-slider-1.png')")
						.slider-top__background.slider-top__background_mobile(style="background-image: url('./assets/img/top-slider-mob-1.png')")

						.slider-top__descr(data-swiper-parallax-opacity="0")
							.slider-top__info(data-swiper-parallax="-100" data-swiper-parallax-duration="1000") Прайм тайм
							.slider-top__name(data-swiper-parallax="-200" data-swiper-parallax-duration="1200") Дикие эксперименты Адама Сэвиджа
							.slider-top__date-time(data-swiper-parallax="-400" data-swiper-parallax-duration="1400")
								.slider-top__date четверг
								.slider-top__time
									.slider-top__hours 18
									| .
									.slider-top__mins 00
					li.slider-top__item.swiper-slide
						.slider-top__background(style="background-image: url('./assets/img/top-slider-2.png')")
						.slider-top__background.slider-top__background_mobile(style="background-image: url('./assets/img/top-slider-mob-2.png')")

						.slider-top__descr(data-swiper-parallax-opacity="0")
							.slider-top__info(data-swiper-parallax="-100" data-swiper-parallax-duration="1500") еееееееее
							.slider-top__name(data-swiper-parallax="-200" data-swiper-parallax-duration="1200") Загадки планеты земля
							.slider-top__date-time(data-swiper-parallax="-400" data-swiper-parallax-duration="1400")
								.slider-top__date пятница
								.slider-top__time
									.slider-top__hours 18
									| .
									.slider-top__mins 00
					li.slider-top__item.swiper-slide
						.slider-top__background(style="background-image: url('./assets/img/main-hero-4.jpg')")
						.slider-top__background.slider-top__background_mobile(style="background-image: url('./assets/img/main-hero-mobile-4.jpg')")

						.slider-top__descr(data-swiper-parallax-opacity="0")
							.slider-top__info(data-swiper-parallax="-100" data-swiper-parallax-duration="1500") последний
							.slider-top__name(data-swiper-parallax="-200" data-swiper-parallax-duration="1200") Видеопатруль
							.slider-top__date-time(data-swiper-parallax="-400" data-swiper-parallax-duration="1400")
								.slider-top__date вторник
								.slider-top__time
									.slider-top__hours 18
									| .
									.slider-top__mins 00
				svg.main-hero__slider-bottom-line(viewbox='0 0 391 56' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(fill-rule='evenodd' clip-rule='evenodd' d='M391 0C388.12 24.876 366.982 44.1878 341.334 44.1878C341.223 44.1878 341.111 44.1875 341 44.1867V44.1878H0V55.3937H391V0Z')
				.container.main-hero__dots.swiper-pagination
				.container.main-hero__controls
					.swiper-button-prev
						include ../../images/nextEl-colorized.svg
					.swiper-button-next
						include ../../images/nextEl-colorized.svg

		.main-top(data-aos="fade-in")
			.main-top__container.container
				.main-top__video.video-sect
					.video-sect__heading.title Видео
					.video-sect__videos-container
						.video-sect__large-video
							.show-card
								a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
									.show-card__cover
										img(src='assets/img/top-slider-mob-2.png').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4.animated Последние жители Аляски

						.video-sect__small-videos-list
							.video-sect__video-item
								.show-card
									a(href='#').show-card__link
										.show-card__cover
											img(src='assets/img/top-slider-mob-3.png').show-card__pic
											.show-card__play
												include ../../images/play.svg
										.show-card__info
											.show-card__name.title.title_h4.animated Самогонщики
							.video-sect__video-item
								.show-card
									a(href='#').show-card__link
										.show-card__cover
											img(src='assets/img/top-slider-mob-3.png').show-card__pic
											.show-card__play
												include ../../images/play.svg
										.show-card__info
											.show-card__name.title.title_h4.animated Последние жители Аляски очень длинный заголовок
							.video-sect__video-item
								.show-card
									a(href='#').show-card__link
										.show-card__cover
											img(src='assets/img/video-cover.jpg').show-card__pic
											.show-card__play
												include ../../images/play.svg
										.show-card__info
											.show-card__name.title.title_h4.animated Последние жители Аляски

					.vide-sect.more
						.more__container.container
							a(href='#', data-js-ajax).button
								span.button__text  Еще видео

				.main-top__on-air.on-air
					.on-air__now
						.on-air__heading.title Сейчас в эфире
						.show-card
							a(href='#').show-card__link
								.show-card__time 20.25
								.show-card__cover
									img(src='assets/img/top-slider-mob-2.png').show-card__pic
								.show-card__info
									.show-card__name.title.title_h4.animated Взгляд изнутри: West Coast Customs
									.show-card__season СЕЗОН 5, СЕРИЯ 12
					.on-air__further
						.on-air__heading.title Далее в эфире
						.on-air__list
							.on-air__item
								.show-card
									a(href='#').show-card__link
										.show-card__time 20.25
										.show-card__info
											.show-card__name.title.title_h4.animated Взгляд изнутри: West Coast Customs
											.show-card__season СЕЗОН 5, СЕРИЯ 12
							.on-air__item
								.show-card
									a(href='#').show-card__link
										.show-card__time 20.25
										.show-card__info
											.show-card__name.title.title_h4.animated Взгляд изнутри: West Coast Customs
											.show-card__season СЕЗОН 5, СЕРИЯ 12
							.on-air__item
								.show-card
									a(href='#').show-card__link
										.show-card__time 20.25
										.show-card__info
											.show-card__name.title.title_h4.animated Взгляд изнутри: West Coast Customs
											.show-card__season СЕЗОН 5, СЕРИЯ 12



		.recommended(data-aos="fade-in")
			.recommended__container.container
				.recommended__heading.title Рекомендуемые шоу
				.recommended__list
					.recommended__item
						.show-card
							a(href='#').show-card__link
								.show-card__cover
									img(src='assets/img/top-slider-mob-3.png').show-card__pic
								.show-card__info
									.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									.show-card__season.show-card__season_lowercase с 9 февраля по субботам в 12.00
					.recommended__item
						.show-card
							a(href='#').show-card__link
								.show-card__cover
									img(src='assets/img/top-slider-mob-3.png').show-card__pic
								.show-card__info
									.show-card__name.title.title_h4 Самогонщики
									.show-card__season.show-card__season_lowercase со 2 февраля по субботам в 11.00
					.recommended__item
						.show-card
							a(href='#').show-card__link
								.show-card__cover
									img(src='assets/img/video-cover.jpg').show-card__pic
								.show-card__info
									.show-card__name.title.title_h4 Самогонщики
									.show-card__season.show-card__season_lowercase со 2 февраля по субботам в 11.00
			.recommended__more.more
				.more__container.container
					a(href='#' data-js-ajax-recommended).button
						span.button__text Еще шоу


		.interesting(data-aos="fade-in")
			.interesting__container.container
				.interesting__heading.title Интересное
				.interesting__top
					.interesting__left
						.interesting__list
							.interesting__item
								.show-card
									a(href='#').show-card__link
										.show-card__cover
											img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__info
											.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
							.interesting__item
								.show-card
									a(href='#').show-card__link
										.show-card__cover
											img(src='assets/img/top-slider-mob-3.png').show-card__pic
										.show-card__info
											.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
							.interesting__item
								.show-card
									a(href='#').show-card__link
										.show-card__cover
											img(src='assets/img/top-slider-mob-4.png').show-card__pic
										.show-card__info
											.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customsss
							.interesting__item
								.show-card
									a(href='#').show-card__link
										.show-card__cover
											img(src='assets/img/top-slider-mob-1.png').show-card__pic
										.show-card__info
											.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
					.interesting__right
						.interesting__one-show
							.interesting__big-card
								.show-card
									a(href='#').show-card__link
										.show-card__cover.show-card__cover_square
											img(src='assets/img/top-slider-mob-3.png').show-card__pic
										.show-card__info
											.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs

				.interesting__bottom
					.interesting__list
						.interesting__item.interesting__item_four-col
							.show-card
								a(href='#').show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.interesting__item.interesting__item_four-col
							.show-card
								a(href='#').show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.interesting__item.interesting__item_four-col
							.show-card
								a(href='#').show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.interesting__item.interesting__item_four-col
							.show-card
								a(href='#').show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.interesting__item.interesting__item_four-col
							.show-card
								a(href='#').show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.interesting__item.interesting__item_four-col
							.show-card
								a(href='#').show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
		.more-interesting.more
			.more__container.container
				a(href='#').button
					span.button__text Больше интересного

		.promo(style="background-image: url('assets/img/promo.jpg')")
			.promo__container
				.promo__wrapper
					.promo__text Когда ты&nbsp;ускоришься, ты&nbsp;начнешь его слышать
					a(href='javascript:void(0);').promo__button хочу прокатиться



	include ../common/_footer.pug
