extends ../_template

block variables
	- var title = 'Как подключить';

block content
	.wrapper
		include ../common/_header.pug

		.hero.hero_privacy
			.hero__wrapper
				.hero__colored-border.hero__colored-border_inside
					.hero__background.hero__background_inside(style="background-image: url('./assets/img/privacy.jpg')")
						.hero__container.hero__container_inside.container
							.hero__breadcrumbs.hero__breadcrumbs_inside.breadcrumbs
								.breadcrumbs__item
									a(href='javascript:void(0);').breadcrumbs__link Главная
								.breadcrumbs__item
									a(href='javascript:void(0);').breadcrumbs__link.breadcrumbs__link_current Правила использования персональной информации
							.hero__title.hero__title_inside Правила использования персональной информации

		.topic.topic_privacy
			.topic__container.container
				p
					| Ниже представлены Правила защиты персональной информации компании Discovery (DiscoveryCommunications Europe), входящей в&nbsp;группу Discovery Communications Inc. (в&nbsp;дальнейшем&nbsp;&mdash; &laquo;мы&raquo;). Мы&nbsp;руководствуемся этими Правилами при использовании персональной информации, полученной от&nbsp;вас на&nbsp;любом из&nbsp;наших веб-сайтов, в&nbsp;том числе, без ограничений, на&nbsp;
					a(href="#") www.tlc-tv.ru
					|&nbsp; (т.н. &laquo;сайты TLC&raquo;). В&nbsp;то&nbsp;же время предупреждаем, что эти Правила не&nbsp;распространяются на&nbsp;американские сайты TLC, поэтому мы&nbsp;рекомендуем предварительно ознакомиться с&nbsp;Правилами пользования любыми американскими сайтами, на&nbsp;которые вы&nbsp;заходите. Под &laquo;персональной&raquo; понимается любая информация идентифицирующего характера (например, ваше имя и&nbsp;фамилия, почтовый или электронный адрес).
				p
					| информацию. В&nbsp;основном, мы&nbsp;используем эту информацию для администрирования сайта и&nbsp;услуг, предлагаемых на&nbsp;нем (например, конкурсов), для выяснения ваших предпочтений и&nbsp;предоставления вам соответствующих продуктов и&nbsp;услуг. Информация, предоставленная вами во&nbsp;время регистрации, используется для того, чтобы обеспечить вам доступ к&nbsp;различным разделам нашего сайта и&nbsp;возможность участия в&nbsp;обмене информацией на&nbsp;TLC&nbsp;в реальном времени.
				h3 Куки-файлы
				p
					| Куки-файлы&nbsp;&mdash; это фрагменты информации, хранящиеся на&nbsp;сервере вашего компьютера. При повторном пользовании сайтом TLC сервер распознает эти фрагменты и&nbsp;передает нам информацию о&nbsp;вашем предыдущем посещении сайта. Большинство браузеров распознает куки-файлы автоматически, однако, как правило, вы&nbsp;можете поменять параметры настройки браузера и&nbsp;заблокировать автоматический доступ к&nbsp;этим файлам (см. раздел &laquo;Помощь&raquo; на&nbsp;панели инструментов). Отказ от&nbsp;куки-файлов не&nbsp;помешает вам пользоваться большинством функций сайта TLC.
				h3 Изменение правил использования персональной информации
				p
					| Мы&nbsp;постараемся информировать вас о&nbsp;любых существенных изменениях Правил, влияющих на&nbsp;использование вашей информации. Тем не&nbsp;менее, мы&nbsp;призываем пользователей самих заботиться о&nbsp;конфиденциальности информации, периодически проверять настоящие Правила и&nbsp;обновлять список своих предпочтений.
				h3 Изменение правил использования персональной информации
				p
					| Мы&nbsp;постараемся информировать вас о&nbsp;любых существенных изменениях Правил, влияющих на&nbsp;использование вашей информации. Тем не&nbsp;менее, мы&nbsp;призываем пользователей самих заботиться о&nbsp;конфиденциальности информации, периодически проверять настоящие Правила и&nbsp;обновлять список своих предпочтений.



	include ../common/_footer.pug
