extends ../_template

block variables
	- var title = 'Как подключить';
	- var curIndex = 4

block content
	.wrapper
		include ../common/_header.pug


		.hero
			.hero__wrapper
				.hero__colored-border
					.hero__background(style="background-image: url('./assets/img/main-hero-4.jpg')")
				.hero__container.container
					.hero__breadcrumbs.breadcrumbs
						.breadcrumbs__item
							a(href='javascript:void(0);').breadcrumbs__link Главная
						.breadcrumbs__item
							a(href='javascript:void(0);').breadcrumbs__link.breadcrumbs__link_current Как подключить
					form.hero__select.select
						.select__name.title.title_no-m Введите ваш регион
						.select__input
							select.select2.select__select2.select2_custom.select2--opaque(type="search")
								option(value="msk") Москва
								option(value="spb") Санкт-Петербург
								option(value="vn") Великий Новгород
								option(value="nn") Нижний Новгород
								option(value="iv") Иваново
								option(value="vlz") Волжский
						.select__button
							button(type='submit').button
								span.button__text Применить
		.providers
			.providers__container.container
				ul.providers__list
					li.providers__item
						a(href='https://www.company.rt.ru/' target='_blank').provider
							.provider__wrapper
								.provider__img
									img.provider__pic(src='./assets/img/provider-mts.png')
								.provider__info
									.provider__name МТС
									.provider__link Перейти на сайт
										span.provider__external-link
											include ../../images/external-link.svg
					li.providers__item
						a(href='https://www.company.rt.ru/' target='_blank').provider
							.provider__wrapper
								.provider__img
									img.provider__pic(src='./assets/img/provider-rt.png')
								.provider__info
									.provider__name ПАО &laquo;Ростелеком&raquo;
									.provider__link Перейти на сайт
										span.provider__external-link
											include ../../images/external-link.svg
					li.providers__item
						a(href='https://www.company.rt.ru/' target='_blank').provider
							.provider__wrapper
								.provider__img
									img.provider__pic(src='./assets/img/provider-telecard.png')
								.provider__info
									.provider__name МТС
									.provider__link Перейти на сайт
										span.provider__external-link
											include ../../images/external-link.svg
					li.providers__item
						a(href='https://www.company.rt.ru/' target='_blank').provider
							.provider__wrapper
								.provider__img
									img.provider__pic(src='./assets/img/provider-mega.png')
								.provider__info
									.provider__name ПАО &laquo;Ростелеком&raquo;
									.provider__link Перейти на сайт
										span.provider__external-link
											include ../../images/external-link.svg
					li.providers__item
						a(href='https://www.company.rt.ru/' target='_blank').provider
							.provider__wrapper
								.provider__img
									img.provider__pic(src='./assets/img/provider-sps.png')
								.provider__info
									.provider__name МТС
									.provider__link Перейти на сайт
										span.provider__external-link
											include ../../images/external-link.svg
					li.providers__item
						a(href='https://www.company.rt.ru/' target='_blank').provider
							.provider__wrapper
								.provider__img
									img.provider__pic(src='./assets/img/provider-dom.png')
								.provider__info
									.provider__name ПАО &laquo;Ростелеком&raquo;
									.provider__link Перейти на сайт
										span.provider__external-link
											include ../../images/external-link.svg




	include ../common/_footer.pug
