extends ../_template

block variables
	- var title = 'Телепрограмма';
	- var curIndex = 0
	- var level = 1


block content
	.wrapper
		include ../common/_header.pug


		.hero
			.hero__wrapper
				.hero__colored-border.hero__colored-border_inside
					.hero__background.hero__background_inside(style="background-image: url('./assets/img/main-hero-4.jpg')")
						.hero__container.hero__container_inside.container
							.hero__breadcrumbs.hero__breadcrumbs_inside.breadcrumbs
								.breadcrumbs__item
									a(href='javascript:void(0);').breadcrumbs__link Главная
								.breadcrumbs__item
									a(href='javascript:void(0);').breadcrumbs__link.breadcrumbs__link_current Телепрограмма
							.hero__title.hero__title_inside Телепрограмма

		.day-slider
			.day-slider__container.container
				.day-slider__box.swiper-container
					ul.day-slider__list.slider-top.swiper-wrapper
						li.day-slider__item.swiper-slide.active
							.day-slider__content()
								.day-slider__weekday Сегодня
								.day-slider__date 02/02
						li.day-slider__item.swiper-slide
							.day-slider__content(data-js-ajax-timetable)
								.day-slider__weekday Завтра
								.day-slider__date 03/02
						li.day-slider__item.swiper-slide
							.day-slider__content(data-js-ajax-timetable)
								.day-slider__weekday Понедельник
								.day-slider__date 04/02
						li.day-slider__item.swiper-slide
							.day-slider__content(data-js-ajax-timetable)
								.day-slider__weekday Вторник
								.day-slider__date 05/02
						li.day-slider__item.swiper-slide
							.day-slider__content
								.day-slider__weekday Среда
								.day-slider__date 06/02
						li.day-slider__item.swiper-slide
							.day-slider__content
								.day-slider__weekday Четверг
								.day-slider__date 07/02
						li.day-slider__item.swiper-slide
							.day-slider__content
								.day-slider__weekday Пятница
								.day-slider__date 08/02
						li.day-slider__item.swiper-slide
							.day-slider__content
								.day-slider__weekday Суббота
								.day-slider__date 09/02
						li.day-slider__item.swiper-slide
							.day-slider__content
								.day-slider__weekday Воскресенье
								.day-slider__date 02/02
						li.day-slider__item.swiper-slide
							.day-slider__content
								.day-slider__weekday Понедельник
								.day-slider__date 03/02
						li.day-slider__item.swiper-slide
							.day-slider__content
								.day-slider__weekday Вторник
								.day-slider__date 04/02
						li.day-slider__item.swiper-slide
							.day-slider__content
								.day-slider__weekday Среда
								.day-slider__date 05/02
						li.day-slider__item.swiper-slide
							.day-slider__content
								.day-slider__weekday Завтра
								.day-slider__date 06/02
						li.day-slider__item.swiper-slide
							.day-slider__content
								.day-slider__weekday Среда
								.day-slider__date 07/02
						li.day-slider__item.swiper-slide
							.day-slider__content
								.day-slider__weekday Четверг
								.day-slider__date 08/02
						li.day-slider__item.swiper-slide
							.day-slider__content
								.day-slider__weekday Пятница
								.day-slider__date 09/02

			.container.day-slider__controls
				.swiper-button-prev.days-swiper-button-prev
					include ../../images/nextEl-colorized.svg
				.swiper-button-next.days-swiper-button-next
					include ../../images/nextEl-colorized.svg




		.shows-list
			.container.shows-list__container
				.preloader
					.preloader__container
						//p.preloader__text discovery channel
						.lds-dual-ring
				.shows-list__wrapper-for-list
					ul.shows-list__shows-accordion.accordion
						li.accordion__block.show-cell
							.accordion__action.show-cell__heading
								.show-cell__left
									.show-cell__time 12.00
									.show-cell__prime В эфире
								.show-cell__right
									.show-cell__title Американский чоппер
									.show-cell__season СЕЗОН 5, СЕРИЯ 12
								.show-cell__trigger
									include ../../images/down-arrow.svg

							.accordion__sliding-part
								.show-about
									.show-about__wrapper
										.show-about__text
											.show-about__p Все&nbsp;те, кто интересуется вопросом, как возникло космическое пространство и&nbsp;что оно сбой представляет, а&nbsp;также заботиться вопросами Вселенной и&nbsp;всего остального, что нас окружает, обязательно оценят этот документальный фильм из&nbsp;нескольких серий, который способен ответить на&nbsp;многие вопросы мироздания.
											.show-about__p При просмотре каждый получает возможность найти ответы на&nbsp;такие вопросы, как образование гигантской структуры под названием Вселенная. Кроме того, в&nbsp;сериях рассматриваются такие факты и&nbsp;моменты, как создание и&nbsp;возникновение черных дыр и&nbsp;других загадок, которые таят в&nbsp;себе эти фантастические образования. Интересно, что ученым удалось доказать их&nbsp;влияние на&nbsp;все события в&nbsp;нашем мире, и&nbsp;потому с&nbsp;теорией данного явления должен быть знаком каждый образованный человек.

											.show-about__button-container
												.show-about__button.button.button_bordered
													span.button__text Перейти к шоу
										.show-about__pic.show-about__pic--placeholder
											.show-about__channel-logo
												img(src='assets/img/logo.svg').show-about__logo-img
											//img(src='assets/img/top-slider-mob-4.png').show-about__img

						li.accordion__block.show-cell
							.accordion__action.show-cell__heading
								.show-cell__left
									.show-cell__time 14.00
								.show-cell__right
									.show-cell__title Американский чоппер
									.show-cell__season СЕЗОН 5, СЕРИЯ 12
								.show-cell__trigger
									include ../../images/down-arrow.svg

							.accordion__sliding-part
								.show-about
									.show-about__wrapper
										.show-about__text
											.show-about__p Все&nbsp;те, кто интересуется вопросом, как возникло космическое пространство и&nbsp;что оно сбой представляет, а&nbsp;также заботиться вопросами Вселенной и&nbsp;всего остального, что нас окружает, обязательно оценят этот документальный фильм из&nbsp;нескольких серий, который способен ответить на&nbsp;многие вопросы мироздания.
											.show-about__p При просмотре каждый получает возможность найти ответы на&nbsp;такие вопросы, как образование гигантской структуры под названием Вселенная. Кроме того, в&nbsp;сериях рассматриваются такие факты и&nbsp;моменты, как создание и&nbsp;возникновение черных дыр и&nbsp;других загадок, которые таят в&nbsp;себе эти фантастические образования. Интересно, что ученым удалось доказать их&nbsp;влияние на&nbsp;все события в&nbsp;нашем мире, и&nbsp;потому с&nbsp;теорией данного явления должен быть знаком каждый образованный человек.

											.show-about__button-container
												.show-about__button.button.button_bordered
													span.button__text Перейти к шоу
										.show-about__pic.show-about__pic--placeholder
											.show-about__channel-logo
												img(src='assets/img/other-4.png').show-about__logo-img
											//img(src='assets/img/video-cover.jpg').show-about__img

						li.accordion__block.show-cell
							.accordion__action.show-cell__heading
								.show-cell__left
									.show-cell__time 15.00
								.show-cell__right
									.show-cell__title Американский чоппер
									.show-cell__season СЕЗОН 5, СЕРИЯ 12
								.show-cell__trigger
									include ../../images/down-arrow.svg

							.accordion__sliding-part
								.show-about
									.show-about__wrapper
										.show-about__text
											.show-about__p Все&nbsp;те, кто интересуется вопросом, как возникло космическое пространство и&nbsp;что оно сбой представляет, а&nbsp;также заботиться вопросами Вселенной и&nbsp;всего остального, что нас окружает, обязательно оценят этот документальный фильм из&nbsp;нескольких серий, который способен ответить на&nbsp;многие вопросы мироздания.
											.show-about__p При просмотре каждый получает возможность найти ответы на&nbsp;такие вопросы, как образование гигантской структуры под названием Вселенная. Кроме того, в&nbsp;сериях рассматриваются такие факты и&nbsp;моменты, как создание и&nbsp;возникновение черных дыр и&nbsp;других загадок, которые таят в&nbsp;себе эти фантастические образования. Интересно, что ученым удалось доказать их&nbsp;влияние на&nbsp;все события в&nbsp;нашем мире, и&nbsp;потому с&nbsp;теорией данного явления должен быть знаком каждый образованный человек.

											.show-about__button-container
												.show-about__button.button.button_bordered
													span.button__text Перейти к шоу
										.show-about__pic.show-about__pic--placeholder
											.show-about__channel-logo
												img(src='assets/img/other-3.png').show-about__logo-img
											//img(src='assets/img/schedule-1.png').show-about__img

						li.accordion__block.show-cell
							.accordion__action.show-cell__heading
								.show-cell__left
									.show-cell__time 23.40
								.show-cell__right
									.show-cell__title Американский чоппер
									.show-cell__season СЕЗОН 5, СЕРИЯ 12
								.show-cell__trigger
									include ../../images/down-arrow.svg

							.accordion__sliding-part
								.show-about
									.show-about__wrapper
										.show-about__text
											.show-about__p Все&nbsp;те, кто интересуется вопросом, как возникло космическое пространство и&nbsp;что оно сбой представляет, а&nbsp;также заботиться вопросами Вселенной и&nbsp;всего остального, что нас окружает, обязательно оценят этот документальный фильм из&nbsp;нескольких серий, который способен ответить на&nbsp;многие вопросы мироздания.
											.show-about__p При просмотре каждый получает возможность найти ответы на&nbsp;такие вопросы, как образование гигантской структуры под названием Вселенная. Кроме того, в&nbsp;сериях рассматриваются такие факты и&nbsp;моменты, как создание и&nbsp;возникновение черных дыр и&nbsp;других загадок, которые таят в&nbsp;себе эти фантастические образования. Интересно, что ученым удалось доказать их&nbsp;влияние на&nbsp;все события в&nbsp;нашем мире, и&nbsp;потому с&nbsp;теорией данного явления должен быть знаком каждый образованный человек.

											.show-about__button-container
												.show-about__button.button.button_bordered
													span.button__text Перейти к шоу
										.show-about__pic
											img(src='assets/img/video-cover.jpg').show-about__img

						li.accordion__block.show-cell
							.accordion__action.show-cell__heading
								.show-cell__left
									.show-cell__time 23.56
								.show-cell__right
									.show-cell__title Американский чоппер
									.show-cell__season СЕЗОН 5, СЕРИЯ 12
								.show-cell__trigger
									include ../../images/down-arrow.svg

							.accordion__sliding-part
								.show-about
									.show-about__wrapper
										.show-about__text
											.show-about__p Все&nbsp;те, кто интересуется вопросом, как возникло космическое пространство и&nbsp;что оно сбой представляет, а&nbsp;также заботиться вопросами Вселенной и&nbsp;всего остального, что нас окружает, обязательно оценят этот документальный фильм из&nbsp;нескольких серий, который способен ответить на&nbsp;многие вопросы мироздания.
											.show-about__p При просмотре каждый получает возможность найти ответы на&nbsp;такие вопросы, как образование гигантской структуры под названием Вселенная. Кроме того, в&nbsp;сериях рассматриваются такие факты и&nbsp;моменты, как создание и&nbsp;возникновение черных дыр и&nbsp;других загадок, которые таят в&nbsp;себе эти фантастические образования. Интересно, что ученым удалось доказать их&nbsp;влияние на&nbsp;все события в&nbsp;нашем мире, и&nbsp;потому с&nbsp;теорией данного явления должен быть знаком каждый образованный человек.

											.show-about__button-container
												.show-about__button.button.button_bordered
													span.button__text Перейти к шоу
										.show-about__pic
											img(src='assets/img/video-cover.jpg').show-about__img



		.other-channels
			.other-channels__container.container
				.other-channels__title-wrapper
					.other-channels__title.title.title_no-m Другие каналы&nbsp;сети
					.container.other-channels__controls
						.swiper-button-prev.other-channels-swiper-button-prev
							include ../../images/nextEl-colorized.svg
						.swiper-button-next.other-channels-swiper-button-next
							include ../../images/nextEl-colorized.svg
				.swiper-container.other-channels__wrapper
					.other-channels__list.swiper-wrapper
						.other-channels__item.swiper-slide
							a(href='https://www.company.rt.ru/' target='_blank').provider
								.provider__wrapper
									.provider__img
										img.provider__pic(src='./assets/img/other-1.png')
									.provider__info
										.provider__name Eurosport
										.provider__link Перейти на сайт
											span.provider__external-link
												include ../../images/external-link.svg
						.other-channels__item.swiper-slide
							a(href='https://www.company.rt.ru/' target='_blank').provider
								.provider__wrapper
									.provider__img
										img.provider__pic(src='./assets/img/other-2.png')
									.provider__info
										.provider__name TLC
										.provider__link Перейти на сайт
											span.provider__external-link
												include ../../images/external-link.svg
						.other-channels__item.swiper-slide
							a(href='https://www.company.rt.ru/' target='_blank').provider
								.provider__wrapper
									.provider__img
										img.provider__pic(src='./assets/img/other-3.png')
									.provider__info
										.provider__name Animal Planet
										.provider__link Перейти на сайт
											span.provider__external-link
												include ../../images/external-link.svg
						.other-channels__item.swiper-slide
							a(href='https://www.company.rt.ru/' target='_blank').provider
								.provider__wrapper
									.provider__img
										img.provider__pic(src='./assets/img/other-4.png')
									.provider__info
										.provider__name SCI
										.provider__link Перейти на сайт
											span.provider__external-link
												include ../../images/external-link.svg
						.other-channels__item.swiper-slide
							a(href='https://www.company.rt.ru/' target='_blank').provider
								.provider__wrapper
									.provider__img
										img.provider__pic(src='./assets/img/other-5.png')
									.provider__info
										.provider__name Investigation Discovery
										.provider__link Перейти на сайт
											span.provider__external-link
												include ../../images/external-link.svg
						.other-channels__item.swiper-slide
							a(href='https://www.company.rt.ru/' target='_blank').provider
								.provider__wrapper
									.provider__img
										img.provider__pic(src='./assets/img/other-4.png')
									.provider__info
										.provider__name МТС
										.provider__link Перейти на сайт
											span.provider__external-link
												include ../../images/external-link.svg








	include ../common/_footer.pug
