extends ../_template

block variables
	- var title = 'Show';

block content
	.wrapper
		include ../common/_header.pug

		.search-result
			.search-result__container.container
				.search-result__text
					| Результаты по запросу:&nbsp;
					span.search-result__request Тюнинг

		.recommended_show(data-aos="fade-in")
			.recommended__container.container
				.recommended__heading.title
					| Видео
					span.recommended__number-of-items
						| &nbsp;(
						span.recommended__number 3
						| )
				.recommended__list
					.recommended__item
						.show-card
							a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
								.show-card__cover.show-card__cover_420-330
									img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__play
										include ../../images/play.svg
								.show-card__info
									.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
					.recommended__item
						.show-card
							a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
								.show-card__cover.show-card__cover_420-330
									img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__play
										include ../../images/play.svg
								.show-card__info
									.show-card__name.title.title_h4 Самогонщики
					.recommended__item
						.show-card
							a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
								.show-card__cover.show-card__cover_420-330
									img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__play
										include ../../images/play.svg
								.show-card__info
									.show-card__name.title.title_h4 Самогонщики

		.videos
			.videos__container.container
				.videos__title-wrapper
					.videos__title.title Шоу
					.container.videos__controls
						.swiper-button-prev.videos-swiper-button-prev
							include ../../images/nextEl-colorized.svg
						.swiper-button-next.videos-swiper-button-next
							include ../../images/nextEl-colorized.svg
				.swiper-container.videos__wrapper
					.videos__list.swiper-wrapper
						.videos__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
		.premier
			.premier__container.container
				.premier__title-wrapper
					.premier__title.title Интересное
					.container.premier__controls
						.swiper-button-prev.premier-swiper-button-prev
							include ../../images/nextEl-colorized.svg
						.swiper-button-next.premier-swiper-button-next
							include ../../images/nextEl-colorized.svg
				.swiper-container.premier__wrapper
					.premier__list.swiper-wrapper
						.premier__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									.show-card__more Подробнее
										span.show-card__more-arrow
											include ../../images/down-arrow.svg
						.premier__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									.show-card__more Подробнее
										span.show-card__more-arrow
											include ../../images/down-arrow.svg
						.premier__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									.show-card__more Подробнее
										span.show-card__more-arrow
											include ../../images/down-arrow.svg
						.premier__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									.show-card__more Подробнее
										span.show-card__more-arrow
											include ../../images/down-arrow.svg
						.premier__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									.show-card__more Подробнее
										span.show-card__more-arrow
											include ../../images/down-arrow.svg
						.premier__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									.show-card__more Подробнее
										span.show-card__more-arrow
											include ../../images/down-arrow.svg
						.premier__item.swiper-slide
							.show-card
								a(href="#").show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									.show-card__more Подробнее
										span.show-card__more-arrow
											include ../../images/down-arrow.svg

	include ../common/_footer.pug
