extends ../_template

block variables
	- var title = 'Шоу';
	- var curIndex = 1

block content
	.wrapper
		include ../common/_header.pug


		.hero.hero_shows
			.hero__wrapper
				.hero__colored-border.hero__colored-border_inside
					.hero__background.hero__background_inside(style="background-image: url('./assets/img/main-hero-shows.jpg')")
						.hero__container.hero__container_inside.container
							.hero__breadcrumbs.hero__breadcrumbs_inside.breadcrumbs
								.breadcrumbs__item
									a(href='javascript:void(0);').breadcrumbs__link Главная
								.breadcrumbs__item
									a(href='javascript:void(0);').breadcrumbs__link.breadcrumbs__link_current Шоу
							.hero__title.hero__title_inside.hero__title_shows Шоу
							//.hero__letters-container
							//	.hero__letters.letters
							//		ul.letters__list
							//			li.letters__item.disabled
							//				a(href="#hash").letters__link #
							//			li.letters__item
							//				a(href="#a").letters__link А
							//			li.letters__item
							//				a(href="#b").letters__link Б
							//			li.letters__item
							//				a(href="#v").letters__link В
							//			li.letters__item
							//				a(href='#g').letters__link Г
							//			li.letters__item
							//				a(href='#d').letters__link Д
							//			li.letters__item
							//				a(href='#e').letters__link е
							//			li.letters__item
							//				a(href='#zh').letters__link ж
							//			li.letters__item.disabled
							//				a(href='#z').letters__link з
							//			li.letters__item.disabled
							//				a(href='#i').letters__link и
							//			li.letters__item
							//				a(href='#k').letters__link к
							//			li.letters__item
							//				a(href='#l').letters__link л
							//			li.letters__item
							//				a(href="#m").letters__link м
							//			li.letters__item.disabled
							//				a(href="#n").letters__link н
							//			li.letters__item.disabled
							//				a(href="#o").letters__link о
							//			li.letters__item.disabled
							//				a(href='#p').letters__link п
							//			li.letters__item.disabled
							//				a(href='#r').letters__link р
							//			li.letters__item.disabled
							//				a(href='#s').letters__link с
							//			li.letters__item.disabled
							//				a(href='#t').letters__link т
							//			li.letters__item.disabled
							//				a(href='#u').letters__link у
							//			li.letters__item.disabled
							//				a(href='#f').letters__link ф
							//			li.letters__item
							//				a(href='#x').letters__link х
							//			li.letters__item
							//				a(href='#c').letters__link ц
							//			li.letters__item.disabled
							//				a(href='#ch').letters__link ч
							//			li.letters__item.disabled
							//				a(href="#sh").letters__link ш
							//			li.letters__item.disabled
							//				a(href="#shh").letters__link щ
							//			li.letters__item.disabled
							//				a(href="#je").letters__link э
							//			li.letters__item.disabled
							//				a(href='#yu').letters__link ю
							//			li.letters__item.disabled
							//				a(href='#ya').letters__link я
		.letters-line
			.letters-line__letters-container
				.letters-line__letters.letters
					ul.letters__list
						li.letters__item.disabled
							a(href="#hash").letters__link #
						li.letters__item
							a(href="#a").letters__link А
						li.letters__item
							a(href="#b").letters__link Б
						li.letters__item
							a(href="#v").letters__link В
						li.letters__item
							a(href='#g').letters__link Г
						li.letters__item
							a(href='#d').letters__link Д
						li.letters__item
							a(href='#e').letters__link е
						li.letters__item
							a(href='#zh').letters__link ж
						li.letters__item.disabled
							a(href='#z').letters__link з
						li.letters__item.disabled
							a(href='#i').letters__link и
						li.letters__item
							a(href='#k').letters__link к
						li.letters__item
							a(href='#l').letters__link л
						li.letters__item
							a(href="#m").letters__link м
						li.letters__item.disabled
							a(href="#n").letters__link н
						li.letters__item.disabled
							a(href="#o").letters__link о
						li.letters__item.disabled
							a(href='#p').letters__link п
						li.letters__item.disabled
							a(href='#r').letters__link р
						li.letters__item.disabled
							a(href='#s').letters__link с
						li.letters__item.disabled
							a(href='#t').letters__link т
						li.letters__item.disabled
							a(href='#u').letters__link у
						li.letters__item.disabled
							a(href='#f').letters__link ф
						li.letters__item
							a(href='#x').letters__link х
						li.letters__item
							a(href='#c').letters__link ц
						li.letters__item.disabled
							a(href='#ch').letters__link ч
						li.letters__item.disabled
							a(href="#sh").letters__link ш
						li.letters__item.disabled
							a(href="#shh").letters__link щ
						li.letters__item.disabled
							a(href="#je").letters__link э
						li.letters__item.disabled
							a(href='#yu').letters__link ю
						li.letters__item.disabled
							a(href='#ya').letters__link я


		.shows
			.shows__container.container
				ul.shows__list
					li(id="a").shows__one-letter-items
						.shows__letter a
						.shows__list.one-letter-shows
							ul.one-letter-shows__list
								li.one-letter-shows__item
									.show-card
										a(href='#').show-card__link
											.show-card__cover
												img(src='assets/img/video-cover.jpg').show-card__pic
											.show-card__info
												.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
								li.one-letter-shows__item
									.show-card
										a(href='#').show-card__link
											.show-card__cover
												img(src='assets/img/video-cover.jpg').show-card__pic
											.show-card__info
												.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
								li.one-letter-shows__item
									.show-card
										a(href='#').show-card__link
											.show-card__cover
												img(src='assets/img/video-cover.jpg').show-card__pic
											.show-card__info
												.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
								li.one-letter-shows__item
									.show-card
										a(href='#').show-card__link
											.show-card__cover
												img(src='assets/img/video-cover.jpg').show-card__pic
											.show-card__info
												.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
								li.one-letter-shows__item
									.show-card
										a(href='#').show-card__link
											.show-card__cover
												img(src='assets/img/video-cover.jpg').show-card__pic
											.show-card__info
												.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
								li.one-letter-shows__item
									.show-card
										a(href='#').show-card__link
											.show-card__cover
												img(src='assets/img/video-cover.jpg').show-card__pic
											.show-card__info
												.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
								li.one-letter-shows__item
									.show-card
										a(href='#').show-card__link
											.show-card__cover
												img(src='assets/img/video-cover.jpg').show-card__pic
											.show-card__info
												.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
								li.one-letter-shows__item
									.show-card
										a(href='#').show-card__link
											.show-card__cover
												img(src='assets/img/video-cover.jpg').show-card__pic
											.show-card__info
												.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
								li.one-letter-shows__item
									.show-card
										a(href='#').show-card__link
											.show-card__cover
												img(src='assets/img/video-cover.jpg').show-card__pic
											.show-card__info
												.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
								li.one-letter-shows__item
									.show-card
										a(href='#').show-card__link
											.show-card__cover
												img(src='assets/img/video-cover.jpg').show-card__pic
											.show-card__info
												.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
								li.one-letter-shows__item
									.show-card
										a(href='#').show-card__link
											.show-card__cover
												img(src='assets/img/video-cover.jpg').show-card__pic
											.show-card__info
												.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
								li.one-letter-shows__item
									.show-card
										a(href='#').show-card__link
											.show-card__cover
												img(src='assets/img/video-cover.jpg').show-card__pic
											.show-card__info
												.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						li(id="b").shows__one-letter-items
							.shows__letter б
							.shows__list.one-letter-shows
								ul.one-letter-shows__list
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs

						li(id="v").shows__one-letter-items
							.shows__letter в
							.shows__list.one-letter-shows
								ul.one-letter-shows__list
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						li(id="g").shows__one-letter-items
							.shows__letter г
							.shows__list.one-letter-shows
								ul.one-letter-shows__list
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						li(id="d").shows__one-letter-items
							.shows__letter д
							.shows__list.one-letter-shows
								ul.one-letter-shows__list
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						li(id="e").shows__one-letter-items
							.shows__letter е
							.shows__list.one-letter-shows
								ul.one-letter-shows__list
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						li(id="zh").shows__one-letter-items
							.shows__letter ж
							.shows__list.one-letter-shows
								ul.one-letter-shows__list
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						li(id="k").shows__one-letter-items
							.shows__letter к
							.shows__list.one-letter-shows
								ul.one-letter-shows__list
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						li(id="l").shows__one-letter-items
							.shows__letter л
							.shows__list.one-letter-shows
								ul.one-letter-shows__list
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						li(id="m").shows__one-letter-items
							.shows__letter  м
							.shows__list.one-letter-shows
								ul.one-letter-shows__list
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs



						li(id="x").shows__one-letter-items
							.shows__letter х
							.shows__list.one-letter-shows
								ul.one-letter-shows__list
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						li(id="c").shows__one-letter-items
							.shows__letter  ц
							.shows__list.one-letter-shows
								ul.one-letter-shows__list
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
									li.one-letter-shows__item
										.show-card
											a(href='#').show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs













	include ../common/_footer.pug
