extends ../_template

block variables
	- var title = 'Show'

block content
	.wrapper
		include ../common/_header.pug

		.main-hero(data-aos="fade-in")
			.main-hero__container
				ul.main-hero__list.slider-top
					li.slider-top__item.swiper-slide
						a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).slider-top__link
							.slider-top__play
								include ../../images/play.svg

						//.slider-top__background(style="background-image: url('./assets/img/main-hero.jpg')")
						.slider-top__background(style="background-image: url('./assets/img/top-slider-1.png')")
						//.slider-top__background.slider-top__background_mobile(style="background-image: url('../assets/img/main-hero-mobile.jpg')")
						.slider-top__background.slider-top__background_mobile(style="background-image: url('../assets/img/top-slider-mob-1.png')")


						.slider-top__descr
							.slider-top__info Прайм тайм
							.slider-top__name Золотой путь Паркера Шнабеля
							.slider-top__date-time
								.slider-top__date воскресенье
								.slider-top__time
									.slider-top__hours 18
									| .
									.slider-top__mins 00
				svg.main-hero__slider-bottom-line(viewbox='0 0 391 56' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(fill-rule='evenodd' clip-rule='evenodd' d='M391 0C388.12 24.876 366.982 44.1878 341.334 44.1878C341.223 44.1878 341.111 44.1875 341 44.1867V44.1878H0V55.3937H391V0Z')

		.show-description
			.show-description__container.container
				.show-description__wrapper
					.show-description__text
						.show-description__p Все&nbsp;те, кто интересуется вопросом, как возникло космическое пространство и&nbsp;что оно сбой представляет, а&nbsp;также заботиться вопросами Вселенной и&nbsp;всего остального, что нас окружает, обязательно оценят этот документальный фильм из&nbsp;нескольких серий, который способен ответить на&nbsp;многие вопросы мироздания.
						.show-description__p При просмотре каждый получает возможность найти ответы на&nbsp;такие вопросы, как образование гигантской структуры под названием Вселенная. Кроме того, в&nbsp;сериях рассматриваются такие факты и&nbsp;моменты, как создание и&nbsp;возникновение черных дыр и&nbsp;других загадок, которые таят в&nbsp;себе эти фантастические образования. Интересно, что ученым удалось доказать их&nbsp;влияние на&nbsp;все события в&nbsp;нашем мире, и&nbsp;потому с&nbsp;теорией данного явления должен быть знаком каждый образованный человек.
					.show-description__pic
						img(src='assets/img/show-pic-1.png').show-description__img



		.videos
			.videos__container.container
				.videos__title-wrapper
					.videos__title.title.title_no-m Видео
					.container.videos__controls
						.swiper-button-prev.videos-swiper-button-prev
							include ../../images/nextEl-colorized.svg
						.swiper-button-next.videos-swiper-button-next
							include ../../images/nextEl-colorized.svg
				.swiper-container.videos__wrapper
					.videos__list.swiper-wrapper
						.videos__item.swiper-slide
							.show-card
								a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
									.show-card__cover
										img(src='assets/img/top-slider-mob-1.png').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.videos__item.swiper-slide
							.show-card
								a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs





		.recommended_show(data-aos="fade-in")
			.recommended__container.container
				.recommended__heading.title
					| Интересное
					span.recommended__number-of-items
						| &nbsp;(
						span.recommended__number 3
						| )
				.recommended__list
					.recommended__item
						.show-card
							a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
								.show-card__cover.show-card__cover_420-330
									img(src='assets/img/top-slider-mob-1.png').show-card__pic
									.show-card__play
										include ../../images/play.svg
								.show-card__info
									.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
								.show-card__more Подробнее
									span.show-card__more-arrow
										include ../../images/down-arrow.svg
					.recommended__item
						.show-card
							a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
								.show-card__cover.show-card__cover_420-330
									img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__play
										include ../../images/play.svg
								.show-card__info
									.show-card__name.title.title_h4 Самогонщики
								.show-card__more Подробнее
									span.show-card__more-arrow
										include ../../images/down-arrow.svg
					.recommended__item
						.show-card
							a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
								.show-card__cover.show-card__cover_420-330
									img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__play
										include ../../images/play.svg
								.show-card__info
									.show-card__name.title.title_h4 Самогонщики
								.show-card__more Подробнее
									span.show-card__more-arrow
										include ../../images/down-arrow.svg

		.premier
			.premier__container.container
				.premier__title-wrapper
					.premier__title.title Премьеры
					.container.premier__controls
						.swiper-button-prev.premier-swiper-button-prev
							include ../../images/nextEl-colorized.svg
						.swiper-button-next.premier-swiper-button-next
							include ../../images/nextEl-colorized.svg
				.swiper-container.premier__wrapper
					.premier__list.swiper-wrapper
						.premier__item.swiper-slide
							.show-card
								a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.premier__item.swiper-slide
							.show-card
								a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.premier__item.swiper-slide
							.show-card
								a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.premier__item.swiper-slide
							.show-card
								a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.premier__item.swiper-slide
							.show-card
								a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.premier__item.swiper-slide
							.show-card
								a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.premier__item.swiper-slide
							.show-card
								a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
									.show-card__cover.show-card__cover_420-330
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
	include ../common/_footer.pug
