extends ../_template

block variables
	- var title = 'Sitemap';

block content
	.wrapper
		include ../common/_header.pug


		.sitemap
			ol
				li
					a(href="./shows.html") Страница с шоу
				li
					a(href="./about.html") О телеканале
				li
					a(href="./index.html") Главная
				li
					a(href="./index-branded.html") Главная-брендинг
				li
					a(href="./privacy.html") Персональная информация
				li
					a(href="./provider.html") Провайдер
				li
					a(href="./schedule.html") Расписание
				li
					a(href="./search.html") Поиск
				li
					a(href="./terms-of-use.html") Условия
				li
					a(href="./topic.html") Статья
				li
					a(href="./topics.html") Интересное
				li
					a(href="./video.html") Видео







	include ../common/_footer.pug
