extends ../_template

block variables
	- var title = 'Соглашение';

block content
	.wrapper
		include ../common/_header.pug


		.hero.hero_terms
			.hero__wrapper
				.hero__colored-border.hero__colored-border_inside
					.hero__background.hero__background_inside(style="background-image: url('./assets/img/about.jpg')")
						.hero__container.hero__container_inside.container
							.hero__breadcrumbs.hero__breadcrumbs_inside.breadcrumbs
								.breadcrumbs__item
									a(href='javascript:void(0);').breadcrumbs__link Главная
								.breadcrumbs__item
									a(href='javascript:void(0);').breadcrumbs__link.breadcrumbs__link_current Пользовательское соглашение
							.hero__title.hero__title_inside Пользовательское соглашение

		.terms.topic
			.terms__container.container
				p Мы приветствуем создание ссылок к сайтам TLC. Вы можете создавать гиперссылки к любым сайтам TLC при следующих условиях:
				ul.terms__list.text-list
					li.terms__item.text-list__item Вы заранее проинформируете нас о каждой ссылке в письменном виде;
					li.terms__item.text-list__item Вы создадите ссылку только к базовой странице соответствующего сайта TLC;
					li.terms__item.text-list__item Вы не сотрете и не перенесете никаких рекламных объявлений, свидетельств авторского права и других уведомлений на сайтах;
					li.terms__item.text-list__item В ссылке не будет содержаться или подразумеваться никаких указаний на то, что TLC спонсирует и/или поддерживает ваш сайт;
					li.terms__item.text-list__item Вы немедленно уберете любые ссылки на сайты TLC по нашему первому требованию.

				p В то же время, вы должны проверить уведомление об авторских правах на базовой странице ссылки, с тем, чтобы удостовериться, что наш автор не выдвигает собственных условий пользования его материалами, размещенными на сайтах TLC.
				p Вы не имеете права использовать блоки или фрагменты информации (фреймы), а также включать в другие веб-сайты и услуги любую интеллектуальную собственность TLC, лицензедателей веб-сайта, во всех случаях, предусмотренных сайтами TLC.




	include ../common/_footer.pug
