extends ../_template

block variables
	- var title = 'Интересное';
	- var curIndex = 3

block content
	.wrapper
		include ../common/_header.pug


		.hero.hero_topics
			.hero__wrapper
				.hero__colored-border.hero__colored-border_inside
					.hero__background.hero__background_inside(style="background-image: url('./assets/img/top-slider-2.png')")
						.hero__container.hero__container_inside.container
							.hero__breadcrumbs.hero__breadcrumbs_inside.breadcrumbs
								.breadcrumbs__item
									a(href='javascript:void(0);').breadcrumbs__link Главная
								.breadcrumbs__item
									a(href='javascript:void(0);').breadcrumbs__link.breadcrumbs__link_current Интересное
							.hero__title.hero__title_inside Интересное

		.recommended.recommended_topics(data-aos="fade-in")
			.recommended__container.container
				.recommended__heading.title
					| Премьеры
				.recommended__list
					.recommended__item
						.show-card
							a(href="#").show-card__link
								.show-card__cover.show-card__cover_420-330
									img(src='assets/img/video-cover.jpg').show-card__pic
								.show-card__info
									.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
					.recommended__item
						.show-card
							a(href="#").show-card__link
								.show-card__cover.show-card__cover_420-330
									img(src='assets/img/video-cover.jpg').show-card__pic
								.show-card__info
									.show-card__name.title.title_h4 Самогонщики

					.recommended__item
						.show-card
							a(href="#").show-card__link
								.show-card__cover.show-card__cover_420-330
									img(src='assets/img/video-cover.jpg').show-card__pic
								.show-card__info
									.show-card__name.title.title_h4 Самогонщики


		.articles
			.arcticles__container.container
				.arcticles__title.title Статьи
				.articles__tags.tabs.tags
					ul.tabs__list.tags__list
						li.tabs__item.tags__item.active(data-tab-trigger="1")
							a.tags__link(href="#") Все
						li.tabs__item.tags__item(data-tab-trigger="2")
							a.tags__link(href="#") Турбо
						li.tabs__item.tags__item(data-tab-trigger="3")
							a.tags__link(href="#") Золото
						li.tabs__item.tags__item(data-tab-trigger="4")
							a.tags__link(href="#") Популярная наука
						li.tabs__item.tags__item(data-tab-trigger="5")
							a.tags__link(href="#") Сделки и аукционы
						li.tabs__item.tags__item(data-tab-trigger="6")
							a.tags__link(href="#") Выживание
						li.tabs__item.tags__item(data-tab-trigger="7")
							a.tags__link(href="#") Обыкновенные герои
						li.tabs__item.tags__item(data-tab-trigger="8")
							a.tags__link(href="#") Другие


				.tab-scenes
					ul.tab-scenes__list
						li.tab-scenes__item.active(data-tab-scene="1")
							.articles__wrapper
								.articles__list
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg

									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs Взгляд изнутри: West Coast Customs
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg

								.more-articles.more
									.more__container.container
										a(href='#' data-js-ajax-articles).button.button_bordered
											span.button__text Больше открытий

						li.tab-scenes__item(data-tab-scene="2")
							.articles__wrapper
								.articles__list
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs Взгляд изнутри: West Coast Customs
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
								.more-articles.more
									.more__container.container
										a(href='#' data-js-ajax-articles).button.button_bordered
											span.button__text Больше открытий

						li.tab-scenes__item(data-tab-scene="3")
							.articles__wrapper
								.articles__list
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg

								.more-articles.more
									.more__container.container
										a(href='#' data-js-ajax-articles).button.button_bordered
											span.button__text Больше открытий

						li.tab-scenes__item(data-tab-scene="4")
							.articles__wrapper
								.articles__list
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs Взгляд изнутри: West Coast Customs
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
								.more-articles.more
									.more__container.container
										a(href='#' data-js-ajax-articles).button.button_bordered
											span.button__text Больше открытий

						li.tab-scenes__item(data-tab-scene="5")
							.articles__wrapper
								.articles__list
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg

								.more-articles.more
									.more__container.container
										a(href='#' data-js-ajax-articles).button.button_bordered
											span.button__text Больше открытий

						li.tab-scenes__item(data-tab-scene="6")
							.articles__wrapper
								.articles__list
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs Взгляд изнутри: West Coast Customs
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg

								.more-articles.more
									.more__container.container
										a(href='#' data-js-ajax-articles).button.button_bordered
											span.button__text Больше открытий

						li.tab-scenes__item(data-tab-scene="7")
							.articles__wrapper
								.articles__list
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg
									.articles__item
										.show-card
											a(href="#").show-card__link
												.show-card__cover
													img(src='assets/img/video-cover.jpg').show-card__pic
												.show-card__info
													.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
												.show-card__more Подробнее
													span.show-card__more-arrow
														include ../../images/down-arrow.svg

								.more-articles.more
									.more__container.container
										a(href='#' data-js-ajax-articles).button.button_bordered
											span.button__text Больше открытий



		//.more-articles.more
		//	.more__container.container
		//		a(href='#' data-js-ajax-articles).button.button_bordered
		//			span.button__text Больше открытий



	include ../common/_footer.pug
