extends ../_template

block variables
	- var title = 'Topic';

block content
	.wrapper
		include ../common/_header.pug


		//.hero
		//	.hero__wrapper
		//		.hero__colored-border.hero__colored-border_with-mob-pic
		//			.hero__background.hero__background_hide-on-mobile(style="background-image: url('../assets/img/privacy.jpg')")
		//			.hero__background.hero__background_mobile(style="background-image: url('../assets/img/main-hero-4.jpg')")
		//		.hero__container.container
		//			.hero__breadcrumbs.breadcrumbs
		//				.breadcrumbs__item
		//					a(href='javascript:void(0);').breadcrumbs__link Главная
		//				.breadcrumbs__item
		//					a(href='javascript:void(0);').breadcrumbs__link Интересное
		//				.breadcrumbs__item
		//					a(href='javascript:void(0);').breadcrumbs__link.breadcrumbs__link_active Как меняется образ мужчины в массовой культуре: исследование телеканала
		//			.hero__heading.hero__heading_topic
		//				.hero__title Как меняется образ мужчины в&nbsp;массовой культуре: исследование телеканала

		.hero.hero_topic
			.hero__colored-border.hero__colored-border_with-mob-pic
				.hero__background.hero__background_with-mob-pic(style="background-image: url('./assets/img/main-hero-mobile-2.jpg')")

			.hero__wrapper
				.hero__colored-border.hero__colored-border_inside.hero__colored-border_desktop
					.hero__background.hero__background_inside.hero__background_desktop(style="background-image: url('./assets/img/about.jpg')")
						.hero__container.hero__container_inside.container
							.hero__breadcrumbs.hero__breadcrumbs_inside.breadcrumbs
								.breadcrumbs__item
									a(href='javascript:void(0);').breadcrumbs__link Главная
								.breadcrumbs__item
									a(href='javascript:void(0);').breadcrumbs__link Интересное
								.breadcrumbs__item
									a(href='javascript:void(0);').breadcrumbs__link.breadcrumbs__link_current Как меняется образ мужчины в массовой культуре: исследование телеканала
							h1.hero__title.hero__title_inside.hero__title_with-mob-pic Как меняется образ мужчины в&nbsp;массовой культуре: исследование телеканала

		.topic
			.topic__container.container
				p
					| Как добиться того, чтобы литые комплектующие вагонов стали надежнее? Как преодолеть дефицит, который сложился на колесные пары? На эти вопросы мы попросили ответить президента АО «СГ-транс» Сергея Калетина.
				h3 Дефицитная позиция
				ul
					li Сергей Владимирович, какова, на Ваш взгляд, сложилась ситуации с колесными парами на сети РЖД? Есть ли дефицит на них? Насколько цена соотносится с качеством?
					li Как я уже отмечал, ОАО «РЖД» официально уведомило собственников подвижного состава, о дефиците у них литья и колесных пар и предложило собственникам вагонов обеспечить комплектующими предприятия ОАО «РЖД». Данное предложение связанно с острым дефицитом на рынке этой продукции.
				p
					| Нехватка&nbsp;
					a(href='#') запасных
					| &nbsp;частей возникла вследствие выхода отрасли вагоностроения из&nbsp;периода стагнации, а&nbsp;также со&nbsp;снижением объемов разделки. Еще одним фактором, повлиявшим на&nbsp;отсутствие комплектующих можно назвать решение ОАО &laquo;РЖД&raquo; не&nbsp;осуществлять прямые закупки у&nbsp;производителей литых деталей тележек и&nbsp;колесных пар по&nbsp;завышенным ценам.
				p
					| Такими действиями, по&nbsp;их&nbsp;мнению, они включают механизм сдерживания роста цен. При этом, переложив данную обязанность на&nbsp;владельцев подвижного состава, возникают риски еще большего ажиотажа вокруг дефицита, что приводит к&nbsp;увеличению стоимости на&nbsp;комплектующие. Все эти факторы простимулировали активацию перекупщиков номенклатуры и&nbsp;значительно повысили риски появления на&nbsp;рынке контрафактной продукции.
				h2 Что можно изменить?
				p На наш взгляд, нужно срочно изменить критерии браковки колесных пар в процессе эксплуатации, позволив колесу жить от планового до планового ремонта. Статистика подтверждает, что гребень не влияет на критерий безопасности, ни одного схода вагонов в организованных поездах по вине гребня не было.
				p Таким образом, необходимо снять ограничение по литью при плановых видах ремонта. Это позволит устранить дефицит и ажиотажный спрос на комплектующие, и как следствие этого, мы не будем наблюдать стремительный рост цен на запасные части.
				p На наш взгляд, нужно срочно изменить критерии браковки колесных пар в процессе эксплуатации, позволив колесу жить от планового до планового ремонта. Статистика подтверждает, что гребень не влияет на критерий безопасности, ни одного схода вагонов в организованных поездах по вине гребня не было.
				p Таким образом, необходимо снять ограничение по литью при плановых видах ремонта. Это позволит устранить дефицит и ажиотажный спрос на комплектующие, и как следствие этого, мы не будем наблюдать стремительный рост цен на запасные части.
				img(src='./assets/img/disco-pic.jpg')
				p
					span fjfjfjfjfj&nbsp;
					a(href='#') запасных


				.topic_quotation.quote
					.quote__icon
						include ../../images/quotes.svg
					p.quote__text Опыт эксплуатации колесных пар, оборудованных подшипниками «старой» конструкции — цилиндрическими однорядными, показывает, что, несмотря на их массовость и привычность для пользователя, они не лишены массы недостатков.
					p.quote__interviewer Беседовал Андрей Лазарев, Менеджер по связям

		.topic-video
			.topic-video__container.container
				.topic-video__item.show-card
					a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).show-card__link
						.show-card__cover
							img(src='assets/img/topic-video.jpg').show-card__pic
							.show-card__play
								include ../../images/play.svg
						.show-card__info
							.show-card__name.title.title_h4.animated Вирусы





	include ../common/_footer.pug
