extends ../_template

block variables
	- var title = 'Videos';
	- var curIndex = 2

block content
	.wrapper
		include ../common/_header.pug

		.main-hero(data-aos="fade-in")
			.main-hero__container.swiper-container
				ul.main-hero__list.slider-top.swiper-wrapper
					li.slider-top__item.swiper-slide
						a(href='#').slider-top__link
							.slider-top__play
								include ../../images/play.svg

						.slider-top__background(style="background-image: url('./assets/img/main-hero.jpg')")
						.slider-top__background.slider-top__background_mobile(style="background-image: url('../assets/img/main-hero-mobile.jpg')")

						.slider-top__descr(data-swiper-parallax-opacity="0")
							.slider-top__info(data-swiper-parallax="-100" data-swiper-parallax-duration="1000") Прайм тайм
							.slider-top__name(data-swiper-parallax="-200" data-swiper-parallax-duration="1200") Золотой путь Паркера Шнабеля
							.slider-top__date-time(data-swiper-parallax="-400" data-swiper-parallax-duration="1400")
								.slider-top__date воскресенье
								.slider-top__time
									.slider-top__hours 18
									| .
									.slider-top__mins 00
					li.slider-top__item.swiper-slide
						a(href="//www.youtube.com/watch?v=T_6CeJCad6Y&list=LLlHMjNwXSCANxW6EfndN0rg&index=11&t=68s" data-lity).slider-top__link
							.slider-top__play
								include ../../images/play.svg
						.slider-top__background(style="background-image: url('./assets/img/main-hero-3.jpg')")
						.slider-top__background.slider-top__background_mobile(style="background-image: url('../assets/img/main-hero-mobile-2.jpg')")

						.slider-top__descr(data-swiper-parallax-opacity="0")
							.slider-top__info(data-swiper-parallax="-100" data-swiper-parallax-duration="1000") Прайм тайм
							.slider-top__name(data-swiper-parallax="-200" data-swiper-parallax-duration="1200") Дикие эксперименты Адама Сэвиджа
							.slider-top__date-time(data-swiper-parallax="-400" data-swiper-parallax-duration="1400")
								.slider-top__date четверг
								.slider-top__time
									.slider-top__hours 18
									| .
									.slider-top__mins 00
					li.slider-top__item.swiper-slide
						.slider-top__background(style="background-image: url('./assets/img/main-hero-3.jpg')")
						.slider-top__background.slider-top__background_mobile(style="background-image: url('../assets/img/main-hero-mobile-3.jpg')")

						.slider-top__descr(data-swiper-parallax-opacity="0")
							.slider-top__info(data-swiper-parallax="-100" data-swiper-parallax-duration="1500") еееееееее
							.slider-top__name(data-swiper-parallax="-200" data-swiper-parallax-duration="1200") Загадки планеты земля
							.slider-top__date-time(data-swiper-parallax="-400" data-swiper-parallax-duration="1400")
								.slider-top__date пятница
								.slider-top__time
									.slider-top__hours 18
									| .
									.slider-top__mins 00
					li.slider-top__item.swiper-slide
						.slider-top__background(style="background-image: url('./assets/img/main-hero-4.jpg')")
						.slider-top__background.slider-top__background_mobile(style="background-image: url('../assets/img/main-hero-mobile-4.jpg')")

						.slider-top__descr(data-swiper-parallax-opacity="0")
							.slider-top__info(data-swiper-parallax="-100" data-swiper-parallax-duration="1500") последний
							.slider-top__name(data-swiper-parallax="-200" data-swiper-parallax-duration="1200") Видеопатруль
							.slider-top__date-time(data-swiper-parallax="-400" data-swiper-parallax-duration="1400")
								.slider-top__date вторник
								.slider-top__time
									.slider-top__hours 18
									| .
									.slider-top__mins 00
				svg.main-hero__slider-bottom-line(viewbox='0 0 391 56' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(fill-rule='evenodd' clip-rule='evenodd' d='M391 0C388.12 24.876 366.982 44.1878 341.334 44.1878C341.223 44.1878 341.111 44.1875 341 44.1867V44.1878H0V55.3937H391V0Z')
				.container.main-hero__dots.swiper-pagination
				.container.main-hero__controls
					.swiper-button-prev
						include ../../images/nextEl-colorized.svg
					.swiper-button-next
						include ../../images/nextEl-colorized.svg

		.recommended(data-aos="fade-in")
			.recommended__container.container
				.recommended__heading.title Рекомендуемые шоу
				.recommended__list
					.recommended__item
						.show-card
							a(href='#' data-lity).show-card__link
								.show-card__cover
									img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__play
										include ../../images/play.svg
								.show-card__info
									.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
					.recommended__item
						.show-card
							a(href='#' data-lity).show-card__link
								.show-card__cover
									img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__play
										include ../../images/play.svg
								.show-card__info
									.show-card__name.title.title_h4 Самогонщики
					.recommended__item
						.show-card
							a(href='#' data-lity).show-card__link
								.show-card__cover
									img(src='assets/img/video-cover.jpg').show-card__pic
									.show-card__play
										include ../../images/play.svg
								.show-card__info
									.show-card__name.title.title_h4 Самогонщики

		.interesting(data-aos="fade-in")
			.interesting__container.container
				.interesting__heading.title Популярные видео
				.interesting__top
					.interesting__left
						.interesting__list
							.interesting__item
								.show-card
									a(href='#' data-lity).show-card__link
										.show-card__cover
											img(src='assets/img/video-cover.jpg').show-card__pic
											.show-card__play
												include ../../images/play.svg
										.show-card__info
											.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
							.interesting__item
								.show-card
									a(href='#' data-lity).show-card__link
										.show-card__cover
											img(src='assets/img/video-cover.jpg').show-card__pic
											.show-card__play
												include ../../images/play.svg
										.show-card__info
											.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
							.interesting__item
								.show-card
									a(href='#' data-lity).show-card__link
										.show-card__cover
											img(src='assets/img/video-cover.jpg').show-card__pic
											.show-card__play
												include ../../images/play.svg
										.show-card__info
											.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
							.interesting__item
								.show-card
									a(href='#' data-lity).show-card__link
										.show-card__cover
											img(src='assets/img/video-cover.jpg').show-card__pic
											.show-card__play
												include ../../images/play.svg
										.show-card__info
											.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
					.interesting__right
						.interesting__one-show
							.interesting__big-card
								.show-card
									a(href='#' data-lity).show-card__link
										.show-card__cover.show-card__cover_square
											img(src='assets/img/video-cover.jpg').show-card__pic
											.show-card__play
												include ../../images/play.svg
										.show-card__info
											.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs

		.interesting(data-aos="fade-in")
			.interesting__container.container
				.interesting__heading.title Открывая мир
				.interesting__bottom
					.interesting__list.open-world
						.interesting__item.interesting__item_four-col
							.show-card
								a(href='#' data-lity).show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.interesting__item.interesting__item_four-col
							.show-card
								a(href='#' data-lity).show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.interesting__item.interesting__item_four-col
							.show-card
								a(href='#' data-lity).show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.interesting__item.interesting__item_four-col
							.show-card
								a(href='#' data-lity).show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.interesting__item.interesting__item_four-col
							.show-card
								a(href='#' data-lity).show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.interesting__item.interesting__item_four-col
							.show-card
								a(href='#' data-lity).show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.interesting__item.interesting__item_four-col
							.show-card
								a(href='#' data-lity).show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
						.interesting__item.interesting__item_four-col
							.show-card
								a(href='#' data-lity).show-card__link
									.show-card__cover
										img(src='assets/img/video-cover.jpg').show-card__pic
										.show-card__play
											include ../../images/play.svg
									.show-card__info
										.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs

		//.more-discoveries.more
		//	.more__container.container
		//		a(href='#' data-js-ajax-discoveries).button
		//			span.button__text Больше открытий

		.genres
			.genres__container.container
				.genres__top
					.genres__heading.title.title_no-m Видео по жанрам
					.genres__all.button.button_bordered
						span.button__text Все жанры
				.genres__list
					.genres__item
						.show-card
							a(href='#').show-card__link
								.show-card__cover.show-card__cover_vertical
									img(src='assets/img/show-preview.png').show-card__pic
								.show-card__info
									.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
					.genres__item
						.show-card
							a(href='#').show-card__link
								.show-card__cover.show-card__cover_vertical
									img(src='assets/img/video-cover.jpg').show-card__pic
								.show-card__info
									.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs

					.genres__item
						.show-card
							a(href='#').show-card__link
								.show-card__cover.show-card__cover_vertical
									img(src='assets/img/show-preview.png').show-card__pic
								.show-card__info
									.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs
					.genres__item
						.show-card
							a(href='#').show-card__link
								.show-card__cover.show-card__cover_vertical
									img(src='assets/img/video-cover.jpg').show-card__pic
								.show-card__info
									.show-card__name.title.title_h4 Взгляд изнутри: West Coast Customs


	include ../common/_footer.pug
